{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\acerca.css' %}" media="screen">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>
{% endblock %}

{% block content %}

<div class="TituloNosotros">
    <h1>SOBRE NOSOTROS</h1>
</div>

<!-- Carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators visually-hidden">
        {% for f in fotos %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
            class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
            aria-label="Slide {{ forloop.counter }}"></button>
        {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for f in fotos %}
        {% if forloop.first %}
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="wrapperItem">
                <div class="WrapperTextCarNos">
                    <p class="TextCarNos">{{ f.title|linebreaksbr }}</p>
                </div>
                <picture>
                    <source media="(min-width: 770px)" srcset="{% static f.imagenWeb %}" alt="...">
                    <source media="(min-width: 210px)" srcset="{% static f.imagenMov %}" alt="...">
                    <img src="{% static f.imagenWeb %}" alt="...">
                </picture>
            </div>
        </div>
        {% else %}
        <div class="carousel-item" data-bs-interval="5000">
            <div class="wrapperItem">
                <div class="WrapperTextCarNos">
                    <p class="TextCarNos">{{ f.title|linebreaksbr }}</p>
                </div>
                <picture>
                    <source media="(min-width: 770px)" srcset="{% static f.imagenWeb %}" alt="...">
                    <source media="(min-width: 210px)" srcset="{% static f.imagenMov %}" alt="...">
                    <img src="{% static f.imagenWeb %}" alt="...">
                </picture>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- Franja no se necesita aca
        <picture>
            <source media="(min-width: 770px)" srcset="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
            <source media="(min-width: 210px)" srcset="{% static 'rsc\img\Franja_Movil.png' %}" class="Franja" alt="...">
            <img src="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
        </picture>
        Franja no se necesita aca -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"><-</span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">-></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Carousel -->

<div class="CadenaValorSubsection">
    <div class="TituloCdV">
        <p class="TextTituloCdV"><b>CADENA DE VALOR</b><br>Seguimos un riguroso proceso para asegurar nuestra excelente
            calidad</p>
    </div>
    <div class="IconosCdV">
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\harvest.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Cosecha/Pesca</p>
            </div>
        </div>
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\TruckIco.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Logística</p>
            </div>
        </div>
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\quality.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Recepción y<br>control de calidad</p>
            </div>
        </div>
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\PlantaIco.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Clasificación<br>y empaque</p>
            </div>
        </div>
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\ContainerIco.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Logística</p>
            </div>
        </div>
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\BuqueIco.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Exportación</p>
            </div>
        </div>
        <div class="CartaIconoCdV">
            <div class="IconoCartaCdV">
                <img src="{% static 'rsc\img\costumer.png' %}">
            </div>
            <div class="TxtCartaCdV">
                <p>Destino</p>
            </div>
        </div>
    </div>
</div>

<div class="MercadosSubsection">
    <div class="ContinentesWrapper">
        <div class="TituloMercados">
            <p class="TextTituloMercados"><b>MERCADOS</b></p>
        </div>
        <div class="cardMercado">
            <div class="headerMercado" id="header_America">
                <b>AMÉRICA</b>
            </div>
            <div class="paisesMercado" id="paises_America">
                <b>TORONTO</b>
                <b>CHICAGO</b>
                <b>DULUTH</b>
                <b>HOUSTON</b>
                <b>LOS ÁNGELES</b>
                <b>MIAMI</b>
                <b>NEW YORK</b>
                <b>NEW JERSEY</b>
                <b>NORFOLK</b>
                <b>NEWARK</b>
                <b>OAKLAND</b>
                <b>SAVANNAH</b>
                <b>VERNON</b>
            </div>
        </div>
        <div class="cardMercado">
            <div class="headerMercado" id="header_Europa">
                <b>EUROPA</b>
            </div>
            <div class="paisesMercado" id="paises_Europa">
                <b>DURRES</b>
                <b>ALGECIRAS</b>
                <b>BILBAO</b>
                <b>CANARIAS</b>
                <b>LAS PALMAS</b>
                <b>VALENCIA</b>
                <b>VIGO</b>
                <b>MARSEILLE</b>
                <b>LE HAVRE</b>
                <b>PIRAEUS</b>
                <b>THESSALONIKI</b>
                <b>GENOVA</b>
                <b>VENEZIA</b>
                <b>SALERNO</b>
                <b>ODESSA</b>
                <b>FELIXTOWE</b>
                <b>LONDON</b>
                <b>SOUTHAMPTON</b>
            </div>
        </div>
        <div class="cardMercado">
            <div class="headerMercado" id="header_Asia">
                <b>ÁSIA</b>
            </div>
            <div class="paisesMercado" id="paises_Asia">
                <b>BUSAN</b>
                <b>DALIAN</b>
                <b>NINGBO</b>
                <b>QINGDAO</b>
                <b>SHANGHAI</b>
                <b>TIANJING</b>
                <b>XINGANG</b>
                <b>YINGKOU</b>
                <b>ZHANJIANG</b>
                <b>BEIRUT</b>
                <b>KAOHSIUNG</b>
                <b>JEBEL</b>
                <b>SHARJAH</b>
            </div>
        </div>
        <div class="cardMercado">
            <div class="headerMercado" id="header_Africa">
                <b>ÁFRICA</b>
            </div>
            <div class="paisesMercado" id="paises_Africa">
                <b>PORT SAID</b>
                <b>CAPETOWN</b>
            </div>
        </div>
    </div>
    <div class="MapasWrapper"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}