{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\acerca.css' %}" media="screen">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div class="TituloNosotros">
    <h1>SOBRE NOSOTROS</h1>
</div>

<!-- Carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators visually-hidden">
        {% for f in fotos %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
            class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
            aria-label="Slide {{ forloop.counter }}"></button>
        {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for f in fotos %}
        {% if forloop.first %}
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="wrapperItem">
                <p class="TextCarNos">{{ f.title }}</p>
                <picture>
                    <source media="(min-width: 770px)" srcset="{% static f.imagenWeb %}" alt="...">
                    <source media="(min-width: 210px)" srcset="{% static f.imagenMov %}" alt="...">
                    <img src="{% static f.imagenWeb %}" alt="...">
                </picture>
            </div>
        </div>
        {% else %}
        <div class="carousel-item" data-bs-interval="5000">
            <div class="wrapperItem">
                <p class="TextCarNos">{{ f.title }}</p>
                <picture>
                    <source media="(min-width: 770px)" srcset="{% static f.imagenWeb %}" alt="...">
                    <source media="(min-width: 210px)" srcset="{% static f.imagenMov %}" alt="...">
                    <img src="{% static f.imagenWeb %}" alt="...">
                </picture>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- Franja no se necesita aca
        <picture>
            <source media="(min-width: 770px)" srcset="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
            <source media="(min-width: 210px)" srcset="{% static 'rsc\img\Franja_Movil.png' %}" class="Franja" alt="...">
            <img src="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
        </picture>
        Franja no se necesita aca -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Carousel -->

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}