{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\certs.css' %}" media="screen">
{% endblock %}

{% block content %}
<!-- Certificaciones -->
<div class='certificacionesSubsection'>
    <div class="tituloSubseccionCerts">
        <p class="tituloCerts">CERTIFICACIONES INTERNACIONALES</p>
    </div>
    <div class="fotosCerts">
        {% for cert in certs %}
            <a href="{{cert.origin}}"><img src="{% static cert.img %}" alt=""></a>
        {% endfor %}
    </div>
    <div class="docCerts">
        {% for cert in certs %}
            <iframe src="{% static cert.imgCert %}" width="300vw" height="500vw"></iframe>
        {% endfor %}
    </div>
</div>
<!-- Certificaciones -->
{% endblock %}