{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\certs.css' %}" media="screen">
{% endblock %}

{% block content %}

<script type="text/javascript">
    function letraAzul(x) {
            x.style.color = "rgb(255, 255, 255)";        
    }

    function letraNormal(x) {
            x.style.color = "rgb(255, 255, 255)";
    }
</script>

<!-- Certificaciones -->
<div class='certificacionesSubsection'>
    <div class="tituloSubseccionCerts">
        <p class="tituloCerts">CERTIFICACIONES INTERNACIONALES</p>
    </div>
    <div class="fotosCerts">
        {% for cert in certs %}
        <img src="{% static cert.img %}" alt="">
        <!--<img src="{% static cert.img %}" alt=""/>-->
        {% endfor %}
    </div>
    <div class="docCerts">
        <script type="text/javascript">
            function showDoc(id) {
                document.getElementById(id).style.display = "flex"
            }
        </script>
        <script type="text/javascript">
            function hideDoc(id) {
                document.getElementById(id).style.display = "none"
            }
        </script>
        {% for cert in certs %}
        <div class="certsModal" id="modal-{{cert.className}}" onclick="hideDoc('modal-{{cert.className}}')"
            role="button">
            <embed loading=eager src="{% static cert.docCert %}">
        </div>
        <img src="{% static cert.imgCert %}" onclick="showDoc('modal-{{cert.className}}')" role="button">
        {% endfor %}
    </div>
</div>
<!-- Certificaciones -->
{% endblock %}


{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}