{% extends 'top.html' %}
{% load crispy_forms_tags %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\cont.css' %}" media="screen">
{% endblock %}

{% block content %}

  <div class="grid-container">
    <div class="contacto">
      <div class="info">
        <br><img id="mail" src="{% static 'rsc\img\mailAzul.png' %}"><a href="mailto:sales@alimesa.com.ec">sales@alimesa.com.ec</a></br>
        <br><img src="{% static 'rsc\img\tlfAzul.png' %}"><a href='tel:59341622125'>(+593-4) 162 2125</a></br>
        <br><img src="{% static 'rsc\img\tlfAzul.png' %}"><a href='tel:59342162122'>(+593-4) 216 2122</a></br>
        <br><img src="{% static 'rsc\img\direc.png' %}">Km 15 ½ via Daule, Av. Rosavin y <br>Asbestos, MZ F6 - Solar 21 y 22 Guayaquil – Ecuador</br></br>
      </div>
      <div class="form">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-inline">
                    {{ form|crispy }}
                </fieldset>
                <button class="btn btn-outline-info" type="submit">Enviar</button>
            </form>
        </div>
      </div>
      <div class="titinfo">Información</div>
      <div class="titform">Contáctanos</div>
    </div>
  </div>

  <div style="text-align: center; margin-top: 2vw;">
    <iframe id="iframemap" src="https://maps.google.com/maps?q=Expotuna+Via+Daule&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="50%" height="500" frameborder="1" scrolling="no"></iframe>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}