{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ALIMESA</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css\estilo.css' %}" media="screen">
    </head>
    <body>
        <div class="navbar">
            <div class="Inicio"><a href="">Inicio</a></div>
            <div class="Certificaciones"><a href="">Certificaciones</a></div>
            <div class="Productos"><a href="">Productos</a></div>
            <div class="Acerca"><a href="">Acerca de Nosotros</a></div>
            <div class="Multimedia"><a href="">Multimedia</a></div>
            <div class="Contacto"><a href="">Contacto</a></div>
            <div class="DatosEIdioma">
              <div class="DatosContacto"><img src="{% static 'rsc\phone (Personalizado).png' %}" >(+593-4) 162 2125<img src="{% static 'rsc\mail (Personalizado).png' %}"><a href=""> SALES@ALIMESA.COM.EC 
            </a></div>
              <div class="Idiomas"></div>
            </div>
          </div>
    </body>
</html>