{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\inicio.css' %}" media="screen">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>
{% endblock %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for f in fotos %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
            class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
        {% else %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
            aria-label="Slide {{ forloop.counter }}"></button>
        {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for f in fotos %}
        {% if forloop.first %}
        <div class="carousel-item active" data-bs-interval="5000">
            <picture>
                <source media="(min-width: 770px)" srcset="{% static f.imagenWeb %}" class="d-block w-100" alt="...">
                <source media="(min-width: 210px)" srcset="{% static f.imagenMov %}" class="d-block w-100" alt="...">
                <img src="{% static f.imagenWeb %}" class="d-block w-100" alt="...">
            </picture>
        </div>
        {% else %}
        <div class="carousel-item" data-bs-interval="5000">
            <picture>
                <source media="(min-width: 770px)" srcset="{% static f.imagenWeb %}" class="d-block w-100" alt="...">
                <source media="(min-width: 210px)" srcset="{% static f.imagenMov %}" class="d-block w-100" alt="...">
                <img src="{% static f.imagenWeb %}" class="d-block w-100" alt="...">
            </picture>
        </div>
        {% endif %}
        {% endfor %}
        <picture>
            <source media="(min-width: 770px)" srcset="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
            <source media="(min-width: 210px)" srcset="{% static 'rsc\img\Franja_Movil.png' %}" class="Franja" alt="...">
            <img src="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
        </picture>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Carousel -->

<!-- Productos -->
<div class="productosSubsection">
    <div class="tituloSubseccion">
        <p class="tituloProductos"><b>NUESTROS PRODUCTOS</b><br>Trabajamos bajo estrictos parametros de calidad.</p>
    </div>
    <div class="dataProductos">
        {% for prod in prods %}
        <a href="{% url 'productos' %}">
        <div class="cartaProducto">            
            <div class="fotoProducto">
                <img src="{% static prod.img %}" alt="">
                <div class="sizesFreezing">
                    <div class="sizesProducto">
                        <img class='ProdIcon' src="{% static  'rsc\img\SizesIco.png' %}">
                        <p><b>Tallas:</b><br>{{prod.sizes|linebreaksbr}}</p>
                    </div>
                    <div class="freezingProducto">
                        <img class='ProdIcon' src="{% static  'rsc\img\FreezingIco.png' %}">
                        <p><b>Congelación:</b><br>{{prod.freezing|linebreaksbr}}</p>
                    </div>
                    <!--<a class="bVM" href="/productos#{{prod.siglas}}">+</a>-->
                </div>
            </div>
            <div class="siglasProducto">
                <p class="siglasProductoP">{{prod.siglas}}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
<!-- Productos -->

<!-- Certificaciones -->
<div class='certificacionesSubsection'>
    <picture>
        <source media="(min-width: 770px)" srcset="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
        <source media="(min-width: 210px)" srcset="{% static 'rsc\img\Franja_Movil.png' %}" class="Franja" alt="...">
        <img src="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
    </picture>
    <div class="tituloSubseccionCerts">
        <p class="tituloCerts">CERTIFICACIONES INTERNACIONALES</p>
    </div>
    <div class="fotosCerts">
        {% for cert in certs %}
        <!-- <a href="{{cert.origin}}"><img src="{% static cert.img %}" alt=""></a> -->
        <a href="{% url 'certificaciones' %}"><img src="{% static cert.img %}" alt=""></a>
        {% endfor %}
    </div>
</div>
<!-- Certificaciones -->
{% endblock %}


{% block scripts %}
<script src="{% static 'rsc\js\inicio.js' %}"></script>
{% endblock %}