{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
  integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
  integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
<script>
  window.initializeCarousel = () => {
    $("#carouselExampleCaptions").carousel({
      interval: 1000
    });
  }
</script>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for objects in obj %}
    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} ">
      <img src="{{objects.image.url}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{objects.title}}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="products">
    <h1>NUESTROS PRODUCTOS</h1>
    <div class="productimg">
      <div class="HOSO">
        <a href="{% url 'productos' %}"><img src="{% static 'rsc\img\HOSO.jpg' %}"></a>
        <div class="middle">
          <div class="HOSO-char">
            <!-- TODO: Fix hover and grid layout, size text -->
            <div class="sizes">Sizes</div>
            <div class="freezing">Freezing</div>
            <div class="fr1">Block</div>
            <div class="fr2">Semi IQF</div>
            <div class="s1">20/30    30/40</div>
            <div class="s2">40/50    50/60</div>
            <div class="s3">40/50    50/60</div>
          </div>
        </div>
        <p>HOSO</p>
      </div>
      <div class="HLSO">
        <a href="{% url 'productos' %}"><img src="{% static 'rsc\img\HLSO.jpg' %}"></a>
        <div class="middle">
          <div class="HLSO-char">
            <div class="sizes">Sizes</div>
            <div class="freezing">Freezing</div>
            <div class="fr1">Block</div>
            <div class="fr2">Semi IQF</div>
            <div class="s1">16/20</div>
            <div class="s2">21/25</div>
            <div class="s3">26/30</div>
            <div class="s4">31/35</div>
            <div class="s5">36/40</div>
            <div class="s6">41/50</div>
            <div class="s7">51/60</div>
            <div class="s8">61/70</div>
            <div class="s9">71/790</div>
          </div>
        </div>
        <p>HLSO</p>
      </div>
      <div class="VALUE-ADDED">
        <a href="{% url 'productos' %}"><img src="{% static 'rsc\img\VALUE_ADDED.png' %}"></a>
        <div class="middle">
          <div class="VA-char">
            <div class="sizes">Sizes</div>
            <div class="freezing">Freezing</div>
            <div class="fr1">Block</div>
            <div class="fr2">IQF</div>
            <div class="s1">16/20</div>
            <div class="s2">21/25</div>
            <div class="s3">26/30</div>
            <div class="s4">31/35</div>
            <div class="s5">36/40</div>
            <div class="s6">41/50</div>
            <div class="s7">51/60</div>
            <div class="s8">61/70</div>
          </div>
        </div>
        <p>VALOR AGREGADO - (P&DTOFF)</p>
      </div>
    </div>
  </div>
  <div class="footer">.</div>
</div>

{% endblock %}