{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\multi.css' %}" media="screen">
{% endblock %}

{% block content %}

<div class="multimedia">
    <div class="video">
        <video src="{% static 'rsc\vid\TinyTake by MangoApps-24-01-2021-01-34-35.mp4' %}" width="768" height="576" controls autoplay></video>
    </div>
    <div class="titulovideo">
        <p>VIDEO SOBRE MEDIDAS DE BIOSEGURIDAD</p>
    </div>
    <div class="tit1">
        <p>BROCHURE</p>
    </div>
    <div class="tit2">
        <p>BROCHURE FOTOS</p>
    </div>
    <div class="tit3">
        <p>MARCAS 1 Y 2</p>
    </div>
    <div class="tit4">
        <p>CALENDARIO AGUAJE</p>
    </div>
    <div class="pdf1">
        
    </div>
    <div class="pdf2"></div>
    <div class="pdf3"></div>
    <div class="pdf4"></div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}