{% extends 'top.html' %}
{% load static%}
{% load i18n %}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\multi.css' %}" media="screen">
{% endblock %}

{% block content %}

<script type="text/javascript">
    function letraAzul(x) {
        x.style.color = "rgb(255, 255, 255)";
    }

    function letraNormal(x) {
        x.style.color = "rgb(255, 255, 255)";
    }
</script>

<div class="TituloVideo">
    <p class="tituloVid">{% translate "MEDIDAS DE BIOSEGURIDAD" %}</p>
</div>
<div class="VideoBioSeg">
    <video muted controls autoplay loop>
        <source src="{% static 'rsc\vid\MULTIMEDIA_VIDEO_WEB.MP4' %}" type="video/mp4" media="(min-width: 812px)">
        <source src="{% static 'rsc\vid\MULTIMEDIA_VIDEO_MOVIL.MP4' %}" type="video/mp4" media="(max-width: 480px)">
    </video>
</div>
<div class="Archivos">
    {% for d in documents %}
    <div class="fileCard">
        <div class="thumbArch">
            <img src="{% static d.thumbnail %}">
            <div class="BDownWrapper">
                <a class="BDown" href="{% static d.filepath %}" download>{% translate "DESCARGAR" %}</a>
            </div>
        </div>
        <div class="tituloArch">
            <p>{{d.titulo}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}