{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\prods.css' %}" media="screen">
{% endblock %}

{% block content %}

<!-- Productos -->
{% for prod in prods %}
<div class="ProdDV" id="{{prod.siglas}}" style="top: calc((var(--CEIheight) + var(--LinksSeccionesHeight) + 5vh) 
  + (var(--height-prod-dv) * {{prod.pad}})
  + ((var(--height-prod-dv) + 10vh) * {{prod.cont}}));
  min-height: calc(var(--height-prod-dv) + (10vh * {{prod.pad}}));">
  <div class="NomProd">{{prod.nombre}} ({{prod.siglas}})</div>
  <div class="FotosProd">
    <img src="{% static prod.img %}" alt="">
  </div>
  <div class="ProdData">
    <div class="TituloSizes TituloTabla"><b>SIZES</b></div>
    <div class="TituloPack TituloTabla"><b>PACKAGING</b></div>
    <div class="TituloFreezing TituloTabla"><b>FREEZING</b></div>
    <div class="ValuesSizes ValueCell">
      <p class="DataTabla">{{prod.sizes|linebreaksbr}}</p>
    </div>
    <div class="ValuesPack ValueCell">
      <p class="DataTabla">{{prod.packaging|linebreaksbr}}</p>
    </div>
    <div class="ValuesFreezing ValueCell">
      <p class="DataTabla">{{prod.freezing|linebreaksbr}}</p>
    </div>
  </div>
</div>
{% endfor %}
<!-- Productos -->

<!-- Marcas -->
<div class="marcasSubsection"
  style="top: calc((var(--CEIheight) + var(--LinksSeccionesHeight) + 5vh) 
  + (var(--height-prod-dv)) 
  + ((var(--height-prod-dv) + 10vh) * {{ cont }}));
  min-height: calc(var(--height-prod-dv) + 10vh);">
  <div class="tituloMarcas">
    <p class="tituloProductos">NUESTRAS MARCAS</p>
  </div>
  <div class="flexMarcas">
    {% for marca in marcas %}
    <img class="imgMarca" src="{% static marca.img %}" alt="">
    {% endfor %}
  </div>
</div>
<!-- Marcas -->

<div class="footer">.</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}