{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\cont.css' %}" media="screen">
{% endblock %}

{% block content %}

<h1>{{prod.nombre}}</h1>

<div class="grid-container">
    <div class="info">
      <div class="sizes">Sizes</div>
      <div class="packaging">Packaging</div>
      <div class="freezing">Freezing</div>
      <div class="sizeDesc"><p>{{prod.sizes|linebreaksbr}}</p></div>
      <div class="packDesc"><p>{{prod.packaging|linebreaksbr}}</p></div>
      <div class="freeDesc"><p>{{prod.freezing|linebreaksbr}}</p></div>
    </div>
    <div class="foto"><img src="{% static prod.img %}"></div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
{% endblock %}