{% extends 'top.html' %}
{% load static%}

{% block headExtend %}
<link rel="stylesheet" type="text/css" href="{% static 'css\prods.css' %}" media="screen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<script type="text/javascript">
  function letraAzul(x) {
    x.style.color = "rgb(255, 255, 255)";
  }

  function letraNormal(x) {
    x.style.color = "rgb(255, 255, 255)";
  }
</script>

<!-- Productos -->
<div class="tituloProductos">
  <p class="textoTituloProductos"><b>NUESTROS PRODUCTOS</b><br>Trabajamos bajo estrictos parametros de calidad.</p>
</div>
{% for prod in prods %}
<div class="ProdDV" id="{{prod.siglas}}" style="top: calc((var(--CEIheight) + var(--LinksSeccionesHeight) + 1vh) 
  + ((var(--height-prod-dv)*0.6) * {{prod.pad}})
  + ((var(--height-prod-dv)*0.6) * {{prod.cont}})
  + 10vh);
  min-height: calc(var(--height-prod-dv) + (10vh * {{prod.pad}}));">
  <div class="NomProd">{{prod.nombre}} ({{prod.siglas}})</div>
  <div class="FotosProd">
    <!-- Carrusel producto -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for f in prod.img %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
          class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button> 
        {% else %}
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{ forloop.counter0 }}"
          aria-label="Slide {{ forloop.counter }}"></button>
        {% endif %}
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for f in prod.img %}
        {% if forloop.first %}
        <div class="carousel-item active" data-bs-interval="5000">
          <picture>
            <source media="(min-width: 770px)" srcset="{% static f %}" class="d-block w-100" alt="...">
            <source media="(min-width: 210px)" srcset="{% static f %}" class="d-block w-100" alt="...">
            <img src="{% static f %}" class="d-block w-100" alt="...">
          </picture>
        </div>
        {% else %}
        <div class="carousel-item" data-bs-interval="5000">
          <picture>
            <source media="(min-width: 770px)" srcset="{% static f %}" class="d-block w-100" alt="...">
            <source media="(min-width: 210px)" srcset="{% static f %}" class="d-block w-100" alt="...">
            <img src="{% static f %}" class="d-block w-100" alt="...">
          </picture>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- Carrusel producto -->
  </div>
  <div class="ProdData">
    <div class="TituloSizes TituloTabla"><img src="{% static 'rsc/img/SizesWTIco.png' %}"></div>
    <div class="TituloPack TituloTabla"><img src="{% static 'rsc/img/PackWTIco.png' %}"></div>
    <div class="TituloFreezing TituloTabla"><img src="{% static 'rsc/img/FreezingWTIco.png' %}"></div>
    <div class="ValuesSizes ValueCell">
      <p class="DataTabla" style="background-color: var(--azul-sizes);">{{prod.sizes|linebreaksbr}}</p>
    </div>
    <div class="ValuesPack ValueCell">
      <p class="DataTabla" style="background-color: var(--azul-pack);">{{prod.packaging|linebreaksbr}}</p>
    </div>
    <div class="ValuesFreezing ValueCell">
      <p class="DataTabla" style="background-color: var(--azul-freezing);">{{prod.freezing|linebreaksbr}}</p>
    </div>
  </div>
</div>
{% endfor %}
<!-- Productos -->

<!-- Marcas -->
<div class="marcasSubsection" style="top: calc((var(--CEIheight) + var(--LinksSeccionesHeight) + 5vh) 
  + (var(--height-prod-dv)*0.6) 
  + (((var(--height-prod-dv) + 10vh)*0.6) * {{ cont }})
  + 0vh);
  min-height: calc((var(--height-prod-dv)*0.6) + 10vh);">
  <picture>
    <source media="(min-width: 770px)" srcset="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
    <source media="(min-width: 210px)" srcset="{% static 'rsc\img\Franja_Movil.png' %}" class="Franja" alt="...">
    <img src="{% static 'rsc\img\Franja_Web.png' %}" class="Franja" alt="...">
  </picture>
  <div class="tituloMarcas">
    <p><b>NUESTRAS MARCAS</b><br>Empaques diseñados según las necesidades de nuestros clientes</br></p>
  </div>
  <div class="flexMarcas">
    {% for marca in marcas %}
    <img class="imgMarca" id="myImg{{ forloop.counter }}" src="{% static marca.img %}" alt="">
    {% endfor %}
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <img class="modal-content" id="img1">
    <div id="caption"></div>
  </div>

</div>
<!-- Marcas -->

{% endblock %}

{% block scripts %}
<script src="{% static 'rsc\js\prods.js' %}"></script>
<script src="{% static 'rsc\js\modals.js' %}"></script>
{% endblock %}