{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'globalHeadContent.html' %}
    {% block headExtend %}
    {% endblock %}
</head>

<body>
    <section class="header">
        <a href="{% url 'inicio' %}">><img id="logo" src="{% static 'rsc\img\logo triangulo.png' %}"></a>
        <div class="navbar">
            <div class="Inicio"><a href="{% url 'inicio' %}">INICIO</a></div>
            <div class="Certificaciones"><a href="{% url 'certificaciones' %}">CERTIFICACIONES</a></div>
            <div class="Productos"><a href="{% url 'productos' %}">PRODUCTOS</a></div>
            <div class="Acerca"><a href="{% url 'acerca' %}">NOSOTROS</a></div>
            <div class="Multimedia"><a href="{% url 'multimedia' %}">MULTIMEDIA</a></div>
            <div class="Contacto"><a href="{% url 'contacto' %}">CONTACTO</a></div>
            <div class="DatosEIdioma">
                <div class="DatosContacto">
                    <img src="{% static 'rsc\img\phone.png' %}">
                    <a href='tel:59341622125'>(+593-4) 162 2125</a>
                    <img src="{% static 'rsc\img\mail.png' %}">
                    <a href="mailto:sales@alimesa.com.ec">SALES@ALIMESA.COM.EC</a>
                </div>
                <div class="Idiomas">
                    <a style="color: white;" href="">Menu |</a>
                    <a style="color: white;" href="">EN |</a>
                    <a style="color: white;" href="">ES |</a>
                    <a style="color: white; padding-right: 1vw;" href="">官话</a>
                </div>
            </div>
        </div>
    </section>

    <section class="Content">
        {% block content %}
        {% endblock %}
    </section>
</body>

<script src="{% static 'rsc\js\top.js' %}"></script>

</html>