{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alimesa</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'rsc\img\logoAzul.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css\variables.css' %}" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% block headExtend %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\global.css' %}" media="screen">
</head>

<body>
    <section class="header">
        <div class="nav-container">
            <div class="navbar">
                <div class="logo-nav">
                    <a href="{% url 'inicio' %}"><img id="logo" src="{% static 'rsc\img\logoAzul.png'%}"></a>
                </div>
                <div class="options-nav">
                    <div class="contactosEidioma-nav">
                        <div class="contacto-nav">
                            <img id="tlf" src="{% static 'rsc\img\phone.png' %}">
                            <a class="linksCEI" id="tlf" href='tel:59341622125'>(+593-4) 162 2125</a>
                            <img id="mail" src="{% static 'rsc\img\mail.png' %}">
                            <a class="linksCEI" href="mailto:sales@alimesa.com.ec">sales@alimesa.com.ec</a>
                        </div>
                        <div class="idioma-nav">
                            {% if 'en' in request.path %}
                            <style>
                                .EN {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a id="langSwitch_en" class="linksCEI langSwitch EN" href="">EN</a>
                            {% if 'es' in request.path %}
                            <style>
                                .ES {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a id="langSwitch_es" class="linksCEI langSwitch ES" href="">ES</a>
                            {% if 'cn' in request.path %}
                            <style>
                                .CN {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a id="langSwitch_cn" class="linksCEI langSwitch CN" href="">官话</a>
                        </div>
                    </div>
                    <div class="menu-nav">
                        <div class="inicio cellOpcionMenu">
                            {% if 'inicio' in request.path %}
                            <style>
                                #inicio-nav {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a class="opcionMenu" id="inicio-nav" href="{% url 'inicio' %}"
                                onmouseover="letraAzul(this)"
                                onmouseout="letraNormal(this)">{% translate "INICIO" %}</a>
                        </div>
                        <div class="nosotros cellOpcionMenu">
                            {% if 'acerca' in request.path %}
                            <style>
                                #nosotros-nav {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a class="opcionMenu" id="nosotros-nav" href="{% url 'acerca' %}"
                                onmouseover="letraAzul(this)"
                                onmouseout="letraNormal(this)">{% translate "NOSOTROS" %}</a>
                        </div>
                        <div class="productos cellOpcionMenu">
                            {% if 'productos' in request.path %}
                            <style>
                                #prods-nav {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a class="opcionMenu" id="prods-nav" href="{% url 'productos' %}"
                                onmouseover="letraAzul(this)"
                                onmouseout="letraNormal(this)">{% translate "PRODUCTOS" %}</a>
                        </div>
                        <div class="certs cellOpcionMenu">
                            {% if 'certificaciones' in request.path %}
                            <style>
                                #certs-nav {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a class="opcionMenu" id="certs-nav" href="{% url 'certificaciones' %}"
                                onmouseover="letraAzul(this)"
                                onmouseout="letraNormal(this)">{% translate "CERTIFICACIONES" %}</a>
                        </div>
                        <div class="multi cellOpcionMenu">
                            {% if 'multimedia' in request.path %}
                            <style>
                                #multi-nav {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a class="opcionMenu" id="multi-nav" href="{% url 'multimedia' %}"
                                onmouseover="letraAzul(this)"
                                onmouseout="letraNormal(this)">{% translate "MULTIMEDIA" %}</a>
                        </div>
                        <div class="cont cellOpcionMenu">
                            {% if 'contacto' in request.path %}
                            <style>
                                #cont-nav {
                                    font-weight: bolder;
                                }
                            </style>
                            {% endif %}
                            <a class="opcionMenu" id="cont-nav" href="{% url 'contacto' %}"
                                onmouseover="letraAzul(this)"
                                onmouseout="letraNormal(this)">{% translate "CONTACTO" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flotante" style="display: none;">
            {% translate "¿Necesitas ayuda?" %} <b>{% translate "Contáctanos" %}</b>
        </div>
        {% if 'es' in request.path or 'en' in request.path %}
            <a href="https://wa.link/2mugo3" class="whatsapp" target="_blank"> 
                <i class="fa fa-whatsapp whatsapp-icon"></i>
            </a>
        {% endif %}
        {% if 'cn' in request.path %}
            <a href="https://msng.link/o/?https%3A%2F%2Fu.wechat.com%2FkIBAHJqVgThtbjLL7jkvzxA=wc>" target="_blank">
               <img class="wechat" src="{% static 'rsc/img/WECHAT_ICONO_BL.png' %}">
            </a>
        {% endif %}

        <script type="text/javascript">
            const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
            const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)

            function letraAzul(x) {
                if (document.body.scrollTop > vh * 0.5 || document.documentElement.scrollTop > vh * 0.5) {
                    x.style.color = "var(--blanco-nav)";
                } else {
                    x.style.color = "var(--azul-nav)";
                }
            }

            function letraNormal(x) {
                if (document.body.scrollTop > vh * 0.5 || document.documentElement.scrollTop > vh * 0.5) {
                    x.style.color = "var(--blanco-nav)";
                } else {
                    x.style.color = "var(--azul-nav)";
                }
            }

            function myFunction() {
                var x = document.getElementById("topnav");
                if (x.className === "responsiveNav") {
                    x.className += " responsive";
                } else {
                    x.className = "responsiveNav";
                }
            }
        </script>
    </section>

    <section class="Content">
        {% block content %} 
        {% endblock %}
    </section>

    <footer>
        <a href="{% url 'inicio' %}"><img src="{% static 'rsc\img\LogoCamaronBlanco.png' %}"></a>
        <div class="codigoqr">
            <h6 class="textcontact"><b>CONTACT US</b></h6>
            <img class="imgqr" src="{% static 'rsc\img\qr.jpg' %}"></div>
        <div class="info-contacto-footer">
            <div class="correo">
                <img class="icoFooter" src="{% static 'rsc\img\mail.png' %}">
                <a class="textFooter" href="mailto:sales@alimesa.com.ec">sales@alimesa.com.ec</a>
            </div>
            <div class="tel1">
                <img class="icoFooter" src="{% static 'rsc\img\phone.png' %}">
                <a class="textFooter" href='tel:59341622125'>(+593-4) 162 2125</a>
            </div>
            <div class="tel2">
                <img class="icoFooter" src="{% static 'rsc\img\phone.png' %}">
                <a class="textFooter" href='tel:59342162122'>(+593-4) 216 2122</a>
            </div>
        </div>
        <div class="dirFooter" style="display: flex; align-content: flex-start;">
            <img src="{% static 'rsc\img\direc.png' %}">
            <a href="https://www.google.com/maps/place/Expotuna/@-2.1040475,-79.9372982,17z/data=!3m1!4b1!4m5!3m4!1s0x902d0d4f3b0b8387:0x96287a1035d8466c!8m2!3d-2.1040529!4d-79.9351095"
                target="_blank">
                <p style="display: flex; width: fit-content; margin: 0;">Km 15 ½ via Daule, Av. Rosavin<br>y Asbestos,
                    MZ F6 - Solar 21<br>y 22 Guayaquil – Ecuador</p>
            </a>
        </div>
        <div class="icoMsj">
            <div class="wsp">
                <a href="https://wa.link/2mugo3" target="_blank">
                    <img src="{% static 'rsc\img\WHATSAPP_ICONO_BL.png' %}">
                </a>
            </div>
            <div class="wcht">
                <a href="https://msng.link/o/?https%3A%2F%2Fu.wechat.com%2FkIBAHJqVgThtbjLL7jkvzxA=wc>" target="_blank">
                    <img src="{% static 'rsc\img\WECHAT_ICONO_BL.png' %}">
                </a>
            </div>
        </div>
    </footer>

</body>

<script src="{% static 'rsc\js\top.js' %}"></script>
{% block scripts %}
{% endblock %}

</html>