body {
    margin: 0;
}

.nav-container {
    background-color: white;
}

.contactosEidioma-nav {
    background: rgb(0, 99, 181);
    background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

.contacto-nav>a {
    color: white;
}

.idioma-nav>a {
    color: white;
}

.idioma-nav>a:hover {
    color: white;
}

.opcionMenu {
    color: black;
}

.opcionMenu:hover {
    color: #0063B5;
    font-weight: 600;
}

.TituloNosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 100vw;
    margin: 20vh 0 2.5vh 0;
}

.TituloNosotros>h1 {
    font-size: var(--sub-title-font-size);
    color: var(--azul-titulos);
    font-weight: 700;
}

body>footer {
    display: block;
    margin: 2.5vh 0 0 0;
}


/* Para contener el carrousel y que se elimine el espacio en blanco entre
el carrousel y el navbar */

#carouselExampleInterval {
    width: 100vw;
    min-width: 100vw;
    max-height: 56vh;
    margin: 2.5vh 0 2.5vh 0;
}

.wrapperItem {
    width: 100vw;
    min-width: 100vw;
    display: flex;
}

.carousel-item>.wrapperItem>picture,
.carousel-item>.wrapperItem>picture>img {
    object-fit: cover;
    width: 66vw;
    height: 56vh;
    max-height: 56vh;
    margin: 0;
    padding: 0%;
}

.WrapperTextCarNos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vw;
    margin: 0;
    padding: 0%;
}

.TextCarNos {
    margin: 0;
    padding: 0%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
}

button.carousel-control-prev {
    width: 50vw;
    opacity: 1;
}

button.carousel-control-prev:hover {
    opacity: 1;
}

button>.carousel-control-prev-icon {
    background-color: var(--azul-nav);
    background-position: center;
    background-size: cover;
    background-image: none;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    border-radius: 50%;
    transition: 0.1s;
    position: relative;
    top: 24vh;
    left: 23vw;
}

button>.carousel-control-prev-icon>img {
    transform: rotate(180deg);
    height: 2vw;
    width: 2vw;
}

button>.carousel-control-prev-icon:active,
button>.carousel-control-prev-icon:hover {
    background-color: var(--amarillo-btn);
    transform: scale(1.05);
    opacity: 1;
    color: var(--azul-titulos);
    font-weight: 1000;
}

button.carousel-control-next {
    width: 50vw;
    opacity: 1;
}

button>.carousel-control-next:active,
button.carousel-control-next:hover {
    opacity: 1;
}

button>.carousel-control-next-icon {
    background-color: var(--azul-nav);
    background-position: center;
    background-size: cover;
    background-image: none;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    border-radius: 50%;
    transition: 0.1s;
    position: relative;
    top: 24vh;
    left: -23vw;
}

button>.carousel-control-next-icon>img {
    height: 2vw;
    width: 2vw;
}

button>.carousel-control-next-icon:active,
button>.carousel-control-next-icon:hover {
    background-color: var(--amarillo-btn);
    transform: scale(1.05);
    opacity: 1;
    color: var(--azul-titulos);
    font-weight: 1000;
}

.CadenaValorSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 7fr;
    gap: 0px 0px;
    grid-template-areas: "TituloCdV" "IconosCdV";
    height: 55vh;
    width: 100vw;
    margin: 5vh 0 2.5vh 0;
}

.TituloCdV {
    grid-area: TituloCdV;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextTituloCdV {
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.TextTituloCdV b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.IconosCdV {
    grid-area: IconosCdV;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 57, 132);
    background: linear-gradient(180deg, rgba(0, 57, 132, 1) 0%, rgba(0, 79, 156, 1) 50%, rgba(0, 96, 180, 1) 100%);
}

.triangulo_inf {
    width: 0;
    height: 0;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-top: 3vw solid #fff;
    position: relative;
    left: calc((100vw - 4vw) / 2);
    bottom: 17vw;
}

.CartaIconoCdV {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27fr 11fr;
    gap: 0px 0px;
    grid-template-areas: "IconoCartaCdV" "TxtCartaCdV";
    height: 22vh;
    width: 10vw;
}

.IconoCartaCdV {
    grid-area: IconoCartaCdV;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 15.63vh;
}

.IconoCartaCdV img {
    width: 10vw;
    height: 11.5vh;
    object-fit: contain;
}

.TxtCartaCdV {
    grid-area: TxtCartaCdV;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 6.36vh;
    width: 10vw;
}

.TxtCartaCdV p {
    color: var(--blanco-nav);
    font-weight: 600;
    font-size: 1vw;
    text-align: center;
}

.flecha {
    height: 5.5vh;
    width: 1.7vw;
    object-fit: contain;
}

.MercadosSubsection {
    display: grid;
    grid-template-columns: 9.5fr 22fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "ContinentesWrapper MapasWrapper";
    width: 100vw;
    height: 73vh;
    margin: 0 0 2.5vh 0;
}

.ContinentesWrapper {
    grid-area: ContinentesWrapper;
}

.MapasWrapper {
    grid-area: MapasWrapper;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.TituloMercados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
}

.TextTituloMercados {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.cardMercado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.01s;
}

.headerMercado {
    cursor: pointer;
    height: 5vh;
    width: 80%;
    margin: 1vh 10% 1vh 10%;
    background: rgb(0, 57, 132);
    background: linear-gradient(90deg, rgba(0, 57, 132, 1) 0%, rgba(0, 79, 156, 0.5) 66%, rgba(0, 96, 180, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    transition: all 0.01s;
}

.headerMercado b {
    cursor: pointer;
    font-size: 2.59vh;
    color: var(--blanco-nav);
    margin: 0vh 10% 0vh 10%;
    transition: all 0.01s;
}

.paisesMercado {
    display: none;
    font-size: 1.6vh;
    margin: 0 0 0 15%;
    width: 85%;
    transition: all 0.01s;
}

.shownMap {
    width: 100%;
    height: 73vh;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    object-fit: contain;
    transition: all 0.01s;
}


/* MEDIA QUERIES */


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024 
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .IconosCdV {
        height: 20vh;
    }
    .CadenaValorSubsection {
        margin-top: -4vh;
    }
    .TextTituloCdV>b {
        font-size: 3vh;
    }
    .TextTituloCdV {
        font-size: 2vh;
    }
    .TituloNosotros>h1 {
        font-size: 3vh;
    }
    .MercadosSubsection {
        margin-top: -18vh;
    }
    .MapasWrapper {
        height: 30vh;
    }
    .TextTituloMercados {
        font-size: 3vh;
    }
    .TextCarNos {
        font-size: 2vh;
    }
    body>footer {
        top: 200vh;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024  pero horizontal
  */

@media (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {
    .IconosCdV {
        height: 20vh;
    }
    .CadenaValorSubsection {
        margin-top: -4vh;
    }
    .TextTituloCdV>b {
        font-size: 3vh;
    }
    .TextTituloCdV {
        font-size: 2vh;
    }
    .TituloNosotros>h1 {
        font-size: 3vh;
    }
    .MercadosSubsection {
        margin-top: -18vh;
    }
    .MapasWrapper {
        height: 60vh;
    }
    .TextTituloMercados {
        font-size: 3vh;
    }
    .TextCarNos {
        font-size: 3vh;
    }
    body>footer {
        top: 200vh;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ## Try 540x720
  */

@media (min-width: 481px) and (max-width: 812px) {
    .IconosCdV {
        height: 30vh;
    }
    .CadenaValorSubsection {
        margin-top: -1vh;
    }
    .TextTituloCdV>b {
        font-size: 4vh;
    }
    .TextTituloCdV {
        font-size: 3vh;
    }
    .TituloNosotros>h1 {
        font-size: 4vh;
    }
    .MercadosSubsection {
        margin-top: -3vh;
    }
    .MapasWrapper {
        height: 70vh;
    }
    .TextTituloMercados {
        font-size: 4vh;
    }
    .TextCarNos {
        font-size: 3vh;
    }
    body>footer {
        top: 230vh;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ## INTENTAR CON CELULARES DE BAJA Y ALTA GAMA EN CHROME
  */

@media (min-width: 320px) and (max-width: 480px) {
    .IconosCdV {
        height: 40vh;
    }
    .CadenaValorSubsection {
        margin-top: -1vh;
    }
    .TextTituloCdV>b {
        font-size: 4vh;
    }
    .TextTituloCdV {
        font-size: 3vh;
    }
    .TituloNosotros>h1 {
        font-size: 4vh;
    }
    .MercadosSubsection {
        margin-top: -3vh;
    }
    .MapasWrapper {
        height: 70vh;
    }
    .TextTituloMercados {
        font-size: 4vh;
    }
    .TextCarNos {
        font-size: 3vh;
    }
    body>footer {
        top: 230vh;
    }
}