body {
    margin: 0;
}

.nav-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100vw;
    z-index:1000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "navbar";
  background-color: white;
}

.navbar {
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo-nav options-nav";
  grid-area: navbar;
  height: 15vh;
  margin-top: -2.85vh;
}

.logo-nav { 
	grid-area: logo-nav; 
	display: flex;
	align-content: center;
	justify-content: center;
    padding-top: 1vh;
}

.logo-nav >a>img {
	width: 6vw;
	height: 15vh;
}

.options-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .4fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "contactosEidioma-nav"
    "menu-nav";
  grid-area: options-nav;
}

.contactosEidioma-nav {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "contacto-nav idioma-nav";
  grid-area: contactosEidioma-nav;
  background: rgb(0, 99, 181);
  background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
  border-radius: 0 0 0 5vw;
  height: var(--CEIheight);
}

.contacto-nav { 
	grid-area: contacto-nav; 
	padding-left: 8vw;
    padding-top: 1vh;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}

.contacto-nav > img {
	max-height: 1.5vh;    
}

.contacto-nav > a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 2vw;
}

.contacto-nav > a:hover {
    text-decoration: none;
}

.idioma-nav { 
	grid-area: idioma-nav; 
	text-align: center;
	padding-right: 6vw;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.idioma-nav > a {
	text-decoration: none;
	color: white;
    font-size: 1vw;
	padding-right: 1vw;	
}

.idioma-nav > a:hover {
	text-decoration: none;
	color: white;
}

.menu-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.1fr 1fr 1fr;
  grid-template-rows: .2fr;
  gap: 0px 0px;
  grid-template-areas:
    "inicio nosotros productos certs multi cont";
  grid-area: menu-nav;
  padding-top: 3vh;
  font-size: 1vw;
}

.opcionMenu {
	text-decoration: none;
	color: black;
}

.opcionMenu:hover {
	text-decoration: none;
	color: #0063B5;
	font-weight: 700;
}

.inicio { 
	grid-area: inicio; 
	display: flex;
  	align-content: flex-end;
  	justify-content: flex-end;
}

.nosotros { 
	grid-area: nosotros; 
	display: flex;
  	align-content: flex-end;
  	justify-content: flex-end;
}

.productos { 
	grid-area: productos; 
	display: flex;
  	align-content: flex-end;
  	justify-content: flex-end;
}

.certs { 
	grid-area: certs; 
	display: flex;
  	align-content: flex-end;
  	justify-content: flex-end;
}

.multi { 
	grid-area: multi; 
	display: flex;
  	align-content: flex-end;
  	justify-content: flex-end;
}

.cont { 
	grid-area: cont; 
	display: flex;
  	align-content: flex-end;
  	justify-content: flex-end;
  	padding-right: 2vw;
}

.activa {
    color: #0063B5;
}

.TituloNosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 100vw;
    margin: 20vh 0 2.5vh 0;
}

.TituloNosotros>h1 {
    font-size: var(--sub-title-font-size);
    color: var(--azul-titulos);
    font-weight: 700;
}

body>footer {
    display: block;
    margin: 5vh 0 0 0;
}

/* Para contener el carrousel y que se elimine el espacio en blanco entre
el carrousel y el navbar */
#carouselExampleInterval {
    width: 100vw;
    min-width: 100vw;
    max-height: 56vh;
    margin: 2.5vh 0 2.5vh 0;
}

.wrapperItem {
    width: 100vw;
    min-width: 100vw;
    display: flex;
}

.carousel-item>.wrapperItem>picture,
.carousel-item>.wrapperItem>picture>img {
    object-fit: cover;
    width: 66vw;
    height: 56vh;
    max-height: 56vh;
    margin: 0;
    padding: 0%;
}

.WrapperTextCarNos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vw;
    margin: 0;
    padding: 0%;
}

.TextCarNos {
    margin: 0;
    padding: 0%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
}

button.carousel-control-prev {
    width: 50vw;
    opacity: 1;
}

button.carousel-control-prev:hover {
    opacity: 1;
}

button>.carousel-control-prev-icon {
    background-color: var(--azul-nav);
    background-position: center;
    background-size: cover;
    background-image: none;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    border-radius: 50%;
    transition: 0.1s;
    position: relative;
    top: 24vh;
    left: 23vw;
}

button>.carousel-control-prev-icon>img {
    transform: rotate(180deg);
    height: 2vw;
    width: 2vw;
}

button>.carousel-control-prev-icon:active,
button>.carousel-control-prev-icon:hover {
    background-color: var(--amarillo-btn);
    transform: scale(1.05);
    opacity: 1;
    color: var(--azul-titulos);
    font-weight: 1000;
}

button.carousel-control-next {
    width: 50vw;
    opacity: 1;
}

button>.carousel-control-next:active,
button.carousel-control-next:hover {
    opacity: 1;
}

button>.carousel-control-next-icon {
    background-color: var(--azul-nav);
    background-position: center;
    background-size: cover;
    background-image: none;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    border-radius: 50%;
    transition: 0.1s;
    position: relative;
    top: 24vh;
    left: -23vw;
}

button>.carousel-control-next-icon>img {
    height: 2vw;
    width: 2vw;
}

button>.carousel-control-next-icon:active,
button>.carousel-control-next-icon:hover {
    background-color: var(--amarillo-btn);
    transform: scale(1.05);
    opacity: 1;
    color: var(--azul-titulos);
    font-weight: 1000;
}

.CadenaValorSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 7fr;
    gap: 0px 0px;
    grid-template-areas:
        "TituloCdV"
        "IconosCdV";
    height: 55vh;
    width: 100vw;
    margin: 5vh 0 2.5vh 0;
}

.TituloCdV {
    grid-area: TituloCdV;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextTituloCdV {
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.TextTituloCdV b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.IconosCdV {
    grid-area: IconosCdV;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 57, 132);
    background: linear-gradient(180deg, rgba(0, 57, 132, 1) 0%, rgba(0, 79, 156, 1) 50%, rgba(0, 96, 180, 1) 100%);
}


.CartaIconoCdV {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27fr 11fr;
    gap: 0px 0px;
    grid-template-areas:
        "IconoCartaCdV"
        "TxtCartaCdV";
    height: 22vh;
    width: 10vw;
}

.IconoCartaCdV {
    grid-area: IconoCartaCdV;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 15.63vh;
}

.IconoCartaCdV img {
    width: 10vw;
    height: 11.5vh;
    object-fit: contain;
}

.TxtCartaCdV {
    grid-area: TxtCartaCdV;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    height: 6.36vh;
    width: 10vw;
}

.TxtCartaCdV p {
    color: var(--blanco-nav);
    font-weight: 600;
    font-size: 1vw;
    text-align: center;
}

.flecha {
    height: 5.5vh;
    width: 1.7vw;
    object-fit: contain;
}

.MercadosSubsection {
    display: grid;
    grid-template-columns: 9.5fr 22fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "ContinentesWrapper MapasWrapper";
    width: 100vw;
    height: 73vh;
    margin: 0 0 2.5vh 0;
}

.ContinentesWrapper {
    grid-area: ContinentesWrapper;
}

.MapasWrapper {
    grid-area: MapasWrapper;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.TituloMercados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
}

.TextTituloMercados {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.cardMercado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.headerMercado {
    height: 5vh;
    width: 80%;
    margin: 1vh 10% 1vh 10%;
    background: rgb(0, 57, 132);
    background: linear-gradient(90deg, rgba(0, 57, 132, 1) 0%, rgba(0, 79, 156, 0.5) 66%, rgba(0, 96, 180, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
}

.headerMercado b {
    font-size: 2.59vh;
    color: var(--blanco-nav);
    margin: 0vh 10% 0vh 10%;
}

.paisesMercado {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.7vh;
    font-size: 1.6vh;
}

.shownMap {
    width: 100%;
    height: 73vh;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    object-fit: contain;
}