body {
    margin: 0;
}

.nav-container {
    background-color: white;
}

.contactosEidioma-nav {
    background: rgb(0, 99, 181);
    background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

.contacto-nav>a {
    color: white;
}

.idioma-nav>a {
    color: white;
}

.idioma-nav>a:hover {
    color: white;
}

.opcionMenu {
    color: var(--azul-nav);
}

.opcionMenu:hover {
    color: var(--azul-titulos);
    font-weight: 600;
}

body>footer {
    top: 84.95vh;
}

.certificacionesSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .5fr;
    gap: 0px 0px;
    grid-template-areas: 
        "tituloSubseccionCerts" 
        "fotosCerts";
    position: absolute;
    top: 15vh;
    left: 0vw;
    width: 100%;
    min-width: 100%;
    min-height: 82.5vh;
}

.tituloSubseccionCerts {
    display: flex;
    grid-area: tituloSubseccionCerts;
    align-items: center;
}

.tituloCerts {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 2.5vw;
}

.fotosCerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: fotosCerts;
    max-width: 100vw;
}

.fotosCerts img {
    width: 10vw;
    height: 10vw;
    object-fit: contain;
    margin: 0.5vw 3vw 0.5vw 3vw;
}

.fotosCerts img:hover {
    transition: 0s;
    transform: scale(2);
}

.noMostrar {
    display: none;
    width: 5vw;
    height: 5vw;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  ## Try 1920x1080
*/

@media (min-width: 1281px) {
    /* CSS */
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    ## Try 1280x1024 / 1280x720 / 1280x850
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024 
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024  pero horizontal
  */

@media (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ## Try 540x720
  */

@media (min-width: 481px) and (max-width: 812px) {


    
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ## INTENTAR CON CELULARES DE BAJA Y ALTA GAMA EN CHROME
  */

@media (min-width: 320px) and (max-width: 480px) {

    .tituloSubseccionCerts {
        margin-top: 10vh;
        height: 1vh;
    }
    .tituloCerts {
        font-size: 2vh;
    }
    .certificacionesSubsection {
        top: 5vh;
    }
    .fotosCerts img {
        width: 30vh;
        height: 10vh;
        object-fit: contain;
        margin: 3vh 3vw 3vh 3vw;
    }
    #cert2 {
        width: 30vh;
        height: 15vh;
    }
    #cert3, #cert4 {
        width: 40vh;
        height: 15vh;
    }
    body>footer {
        top: 120vh;
    }
    .fotosCerts img:hover {
        transition: 0s;
        transform: scale(1.6);
    }

}