/* Altural del nav es 15vh
3.75 para los contactos e idiomas y 
11.25 para los links de las secciones*/
.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.35fr repeat(3, 1fr);
    grid-template-rows: 3.75fr 11.25fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma"
        "Inicio Certificaciones Productos Filler Acerca Multimedia Contacto";
    height: 15vh;
    max-height: 15vh;
    padding: 0%;
    background-color: var(--azul-nav);
    transition: var(--transition-time);
    z-index: 899;
}

.TituloSeccion {
    color: var(--blanco-nav);
}

.TituloSeccion:hover {
    color: var(--blanco-nav);
}

.Inicio {
    grid-area: Inicio;
    text-align: center;
}

.Certificaciones {
    grid-area: Certificaciones;
    text-align: center;
}

.Productos {
    grid-area: Productos;
    text-align: center;
}

.Acerca {
    grid-area: Acerca;
    text-align: center;
}

.Multimedia {
    grid-area: Multimedia;
    text-align: center;
}

.Contacto {
    grid-area: Contacto;
    text-align: center;
}

.DatosEIdioma {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosContacto Idiomas";
    grid-area: DatosEIdioma;
    background-color: var(--blanco-nav);
    text-decoration: none;
    padding-left: 0.5vw;
    font-size: 1.25vh;
    height: 100%;
    transition: var(--transition-time);
    align-items: center;
}

.linksCEI {
    color: var(--azul-titulos);
    text-decoration: none;
}

.linksCEI:hover {
    text-decoration: none;
}

.DatosContacto {
    grid-area: DatosContacto;
    text-align: left;
    padding-left: 1vw;
    text-decoration: none;
}

.DatosContacto a {
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.DatosContacto img {
    max-height: 1.5vh;
    margin: auto;
    padding-bottom: 0.1vw;
}

.Idiomas {
    grid-area: Idiomas;
    text-align: right;
    text-decoration: none;
}

#logo {
    position: fixed;
    top: 3.75vh;
    left: calc(50vw - ((var(--LinksSeccionesHeight) + 5vh)/2));
    margin: auto;
    max-height: calc(var(--LinksSeccionesHeight) + 5vh);
    z-index: 900;
    transition: var(--transition-time);
}


  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "contacto";
  }
  
  .contacto {
    display: grid;
    grid-template-columns: 0.4fr 0.3fr;
    grid-template-rows: 0.2fr 1.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "titinfo titform"
      "info form";
    grid-area: contacto;
    margin-top: auto;
  }
  
  .info { grid-area: info; }
  .info img {
    max-height: 4vh;
    margin: auto;
    padding-bottom: 0.1vw;
    padding-left: 2vw;
    padding-right: 1vw;
  }

  .info #mail {
    max-height: 2.5vh;
    margin: auto;
    padding-bottom: 0.1vw;
    padding-left: 2vw;
  }
  
  .form { grid-area: form; }
  
  .titinfo { 
    grid-area: titinfo;
    display: flex;
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: left;
    padding-left: 2vw;
    width: 100%;
    margin: 0vw;
    }
  
  .titform { 
      grid-area: titform; 
      display: flex;
      color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: left;
    width: 100%;
    margin: 0vw;
    }
  
  .controls input {
    border-left: none;
    border-top: none;  
    border-right: none;
    border-bottom: 0.2vw solid var(--barra-form);
  }

  label[for="id_Nombre"], label[for="id_Email"],label[for="id_Telefono"],label[for="id_Mensaje"], label[for="id_Pais"] {
      display: none;
  }

  #id_Mensaje {
    width: 100%;
  }

  #id_Email {
      margin-left: 1vw;
  }
  #id_Pais{
      margin-left: 1vw;
  }

  .lazyselect {
    border-left: none;
    border-top: none;  
    border-right: none;
    border-bottom: 0.2vw solid var(--barra-form);
    width: 13vw;
  }

  .textarea {
    border-left: none;
    border-top: none;  
    border-right: none;
    border-bottom: 0.2vw solid var(--barra-form);
    width: 100%;
    height: 10vw;
  }

  .form-inline {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  }

  /* Add responsiveness - display the form controls vertically instead of horizontally 
  on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }