/* font-family: "Open Sans", sans-serif; */
html {
    scroll-behavior: smooth;
}

/* Ocultar la barra ayuda luego con las animaciones */
body::-webkit-scrollbar {
    display: none;
}

body {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}
/* */

.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.35fr repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma"
        "Inicio Certificaciones Productos Filler Acerca Multimedia Contacto";
    height: 10vw;
    max-height: 10vw;
    padding: 0%;
    background-color: #F7F7F7;
    transition: 0.1s;
    z-index: 899;
}

.Content {
    margin-top: 10vw;
}

.Inicio a,
.Certificaciones a,
.Productos a,
.Acerca a,
.Multimedia a,
.Contacto a {
    text-align: center;
    font-size: 1.75vw;
    color: #00315A;
    font-weight: bold;
    text-decoration: none;
}

.Inicio:hover,
.Certificaciones:hover,
.Productos:hover,
.Acerca:hover,
.Multimedia:hover,
.Contacto:hover {
    font-size: 1.85vw;
    text-decoration: underline;
}

.Inicio {
    grid-area: Inicio;
    text-align: center;
}

.Certificaciones {
    grid-area: Certificaciones;
    text-align: center;
}

.Productos {
    grid-area: Productos;
    text-align: center;
}

.Acerca {
    grid-area: Acerca;
    text-align: center;
}

.Multimedia {
    grid-area: Multimedia;
    text-align: center;
}

.Contacto {
    grid-area: Contacto;
    text-align: center;
}

.DatosEIdioma {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosContacto Idiomas";
    grid-area: DatosEIdioma;
    background-color: #00315A;
    text-decoration: none;
    padding-left: 1vw;
    font-size: 0.9vw;
    padding: 0.6327vw 0vw 0.6327vw 0vw;
    max-height: 2.5vw;
}

.DatosContacto {
    grid-area: DatosContacto;
    text-align: left;
    padding-left: 1vw;
    text-decoration: none;
}

.DatosContacto a {
    color: white;
    padding-left: 0.5vw;
    padding-right: 1vw;
    text-decoration: none;
}

.DatosContacto img {
    max-height: 1vw;
    margin: auto;
    padding-bottom: 0.12vw;
}

.Idiomas {
    grid-area: Idiomas;
    text-align: right;
    color: white;
    text-decoration: none;
}

.Idiomas a {
    text-decoration: none;
}

.DatosContacto a {
    color: white;
}

#logo {
    position: fixed;
    top: 2.5vw;
    left: 43vw;
    margin: auto;
    float: center;
    max-height: 14vw;
    z-index: 900;
    transition: 0.1s;
}

/* Para contener el carrousel y que se elimine el espacio en blanco entre
el carrousel y el navbar */
#carouselExampleCaptions {
    position: absolute;
    top: 10vw;
    left: 0vw;
    width: 100%;
    min-width: 100%;
    max-height: 42vw;
}

/* Para estandarizar el tamaño de las imagenes */
#carouselExampleCaptions img{
    width: 100%;
    min-width: 100%;
    max-height: 42vw;
    object-fit: cover;
}

.carousel-caption {
    background: #00315A;
    border-radius: 5vw;
}

.products h1 {
    text-align: center;
    color: #00315A;
    font-size: 2.5vw;
    font-weight: bold;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
 
.productimg {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "HOSO HLSO VALUE-ADDED";
}

.productimg p {
    text-align: center;
    color: #00315A;
    font-weight: bolder;
    font-size: 1.15vw;
}

.HOSO {
    opacity: 1;
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0 5vw 5vw 5vw;
    position: relative;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

.HOSO img:hover {
    opacity: 0.3;
}

.HOSO-char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 0.9fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
      "sizes freezing"
      "s1 fr1"
      "s2 fr1"
      "s3 fr2";
  }

  .HLSO-char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sizes freezing"
      "s1 fr1"
      "s2 fr1"
      "s3 fr1"
      "s4 fr1"
      "s5 fr2"
      "s6 fr2"
      "s7 fr2"
      "s8 fr2"
      "s9 fr2";
  }

  .VA-char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sizes freezing"
      "s1 fr1"
      "s2 fr1"
      "s3 fr1"
      "s4 fr1"
      "s5 fr2"
      "s6 fr2"
      "s7 fr2"
      "s8 fr2";
  }
  
  .sizes { 
      grid-area: sizes;
      font-weight: bolder;
      text-align: center;
    }
  
  .freezing { grid-area: freezing; font-weight: bolder; text-align: center;}
  
  .fr1 { grid-area: fr1; text-align: center; padding-top: 1vw;}
  
  .fr2 { grid-area: fr2; text-align: center; padding-bottom: 3vw;}

  .s1 { grid-area: s1;text-align: center; }
  .s2 { grid-area: s2; text-align: center;}
  .s3 { grid-area: s3;text-align: center; }
  .s4 { grid-area: s4; text-align: center;}
  .s5 { grid-area: s5; text-align: center;}
  .s6 { grid-area: s6; text-align: center;}
  .s7 { grid-area: s7; text-align: center;}
  .s8 { grid-area: s8; text-align: center;}
  .s9 { grid-area: s9; text-align: center;}

  .HOSO:hover .middle{
      opacity: 1;
  }

  .HLSO:hover .middle{
    opacity: 1;
}
 
.VALUE-ADDED:hover .middle{
    opacity: 1;
}

.HLSO {
    opacity: 1;
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0 5vw 5vw 5vw;
}

.HLSO img:hover {
    opacity: 0.3;
}

.VALUE-ADDED {
    opacity: 1;
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0 5vw 5vw 5vw;
}

.VALUE-ADDED img:hover {
    opacity: 0.3;
}

.footer {
    display: grid;
    background: #00315A;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-height: 100vw;
}

.certificaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    grid-template-areas:
        "titulo titulo titulo titulo"
        "cert1 cert2 cert3 cert4";
}

.cert1 img { 
    grid-area: cert1;
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    padding: 5vw;
}
.cert2 img { 
    grid-area: cert2;
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    padding: 5vw;
}
.cert3 img { 
    grid-area: cert3; 
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    padding: 0 5vw 5vw 5vw;
}
.cert4 img { 
    grid-area: cert4; 
    display: block;
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
    padding: 0 5vw 5vw 5vw;
}
.titulo { 
    grid-area: titulo; 
    text-align: center;
    color: #00315A;
    font-size: 2.5vw;
    font-weight: bold;
    padding-top: 6vw;
    padding-bottom: 3vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
      "titulo titulo titulo titulo titulo"
      "imgHOSO imgHOSO sz pckg free";
  }
  
  .imgHOSO { 
    grid-area: imgHOSO;
    text-align: center;
    }

.imgHOSO img {
    display: block;
    width: 100%;
    max-height: 40vw;
    object-fit: cover;
    padding: 5vw 5vw 0vw 5vw;
}
  
  .sz {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.2fr 1.5fr;
    gap: 2vw 0vw;
    grid-template-areas:
      "sztitle sztitle sztitle"
      "szcont szcont szcont";
    grid-area: sz;
    text-align: center;
  }
  
  .sztitle { grid-area: sztitle; font-weight: bold; background: #516482; border-radius: 2vw;}
  
  .szcont { grid-area: szcont; background: #516482; border-radius: 2vw;}
  
  .pckg {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.2fr 1.5fr;
    gap: 2vw 0vw;
    grid-template-areas:
      "pckg-title pckg-title pckg-title"
      "pckgcont pckgcont pckgcont";
    grid-area: pckg;
    text-align: center;
  }
  
  .pckg-title { grid-area: pckg-title; font-weight: bold; background: #516482; border-radius: 2vw;}
  
  .pckgcont { grid-area: pckgcont; background: #516482; border-radius: 2vw; }
  
  .free {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.2fr 1.5fr;
    gap: 2vw 0vw;
    grid-template-areas:
      "freetitle freetitle freetitle"
      "freecont freecont freecont";
    grid-area: free;
    text-align: center;
  }
  
  .freetitle { grid-area: freetitle; font-weight: bold; background: #516482; border-radius: 2vw;}
  
  .freecont { grid-area: freecont; background: #516482; border-radius: 2vw;}


  .marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.7fr 1.7fr 0.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "titulo titulo titulo"
      "br1 br2 br3"
      "br4 br5 br6"
      "certs certs certs";
  }
  
  .certs { grid-area: certs; text-align: center;}

  .certs img {
      max-width: 10vw;
      max-height: 10vw;
  }
  
  .br1 { grid-area: br1; text-align: center;}

  .br1 img {
      width: 100%;
      max-height: 30vw;
  }
  
  .br2 { grid-area: br2; text-align: center;}

  .br2 img {
    width: 100%;
    max-height: 30vw;
}
  
  .br3 { grid-area: br3; text-align: center;}

  .br3 img {
    width: 100%;
    max-height: 40vw;
}
  
  .br4 { grid-area: br4; text-align: center;}

  .br4 img {
    width: 100%;
    max-height: 30vw;
}
  
  .br5 { grid-area: br5; text-align: center;}

  .br5 img {
    width: 100%;
    max-height: 30vw;
}
  
  .br6 { grid-area: br6; text-align: center;}

  .br6 img {
    width: 100%;
    max-height: 25vw;
}
  
  
  

/*MEDIA QUERY*/

/*@media screen and (max-width:1040px) {
    .nuestro-equipo .titulo-seccion {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:900px) {
    .servicios .nservicios {
        display: flex;
        flex-flow: column wrap;
    }
    .servicios .nservicios .servicio {
        width: 80%;
        height: 300px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 400px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 500px;
    }
}

@media screen and (max-width:800px) {
    .tarjetas-promo {
        display: flex;
        flex-flow: column wrap;
    }
    .tarjeta-promo {
        width: 80%;
    }
}

@media screen and (max-width:525px) {
    .porcentaje {
        font-size: 20px;
    }
}

@media screen and (max-width:750px) {
    .form-crear-user form {
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    .form-crear-user form .logform {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width:630px) {
    .nuestro-equipo .equipo .persona-equipo {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .nuestro-equipo .equipo .persona-equipo .foto {
        width: 100%;
        max-width: 275px;
    }
}

@media(max-width:911px) {
    .text ul {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
    .text ul li {
        margin-top: 20px;
    }
    .text h2 {
        text-align: center;
    }
}

@media screen and (max-width:800px) {
    .dashboard {
        display: flex;
        flex-flow: column wrap;
    }
    .personal {
        width: 100%;
    }
    .campana {
        width: 100%;
    }
    .agregar-puntos {
        width: 100%;
        order: 2;
    }
    .sucursales {
        width: 100%;
    }
}

@media (max-width:770px) {
    nav ul li a {
        font-size: 1.2rem;
    }
    .logo {
        width: 100px;
    }
}

@media (max-width:670px) {
    header {
        flex-flow: column wrap;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    nav ul {
        text-align: center;
    }
    nav ul li a {
        font-size: 1.4rem;
    }
    .logo {
        margin: 10px auto;
        margin-bottom: 25px;
    }
}

@media (max-width:500px) {
    nav ul li a {
        font-size: 1rem;
    }
    .principal .anuncio img {
        display: none;
    }
    .formulario-cajero form .inpts {
        width: 100%;
        margin: 0 auto;
    }
    .form-cajero h2 {
        font-size: 2.8rem;
    }
    .formulario-cajero form input[type="submit"] {
        width: 100%;
        margin: 30px auto;
    }
}

@media(max-width:400px) {
    nav ul li a {
        font-size: 0.8rem;
    }
}

@media(max-width:350px) {
    .servicios .nservicios .servicio .texto {
        font-size: 1rem;
        max-height: 345px;
        overflow: hidden;
    }
}*/