
.barra {
    display: inline-block;
    text-decoration: none;
    font-size: large;
    color: #03437D;
    padding: 10px 30px;
    background: none;
}

.phone {
    color: white;
    text-decoration: none;
}

.koi {
    padding-left: 600px;
}

.barra:hover {
    text-decoration: underline;
    color: #022341;
    font-size: x-large;
}

.header {
    padding: 20px;
    background: #03437D;
}

.headerbarra {
    text-align: center;
    background: white;
}

.menu {
    padding: 0px 10px;
    color: white;
}

.menu:hover {
    color: white;
}

.rdy {
    color: white;
}

.rdy:hover {
    color: white;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
      "DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma"
      "Inicio Certificaciones Productos Acerca Multimedia Contacto";
  }
  
  .Inicio { grid-area: Inicio; text-align: center;}
  
  .Certificaciones { grid-area: Certificaciones; text-align: center;}
  
  .Productos { grid-area: Productos; text-align: center;}
  
  .Acerca { grid-area: Acerca; text-align: center;}
  
  .Multimedia { grid-area: Multimedia; text-align: center;}
  
  .Contacto { grid-area: Contacto; text-align: center;}
  
  .DatosEIdioma {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "DatosContacto Idiomas";
    grid-area: DatosEIdioma;
    background: #03437D;
  }
  
  .DatosContacto { grid-area: DatosContacto; text-align: left; }
  
  .Idiomas { grid-area: Idiomas; text-align: right;}
  



/*MEDIA QUERIE*/

/*@media screen and (max-width:1040px) {
    .nuestro-equipo .titulo-seccion {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:900px) {
    .servicios .nservicios {
        display: flex;
        flex-flow: column wrap;
    }
    .servicios .nservicios .servicio {
        width: 80%;
        height: 300px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 400px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 500px;
    }
}

@media screen and (max-width:800px) {
    .tarjetas-promo {
        display: flex;
        flex-flow: column wrap;
    }
    .tarjeta-promo {
        width: 80%;
    }
}

@media screen and (max-width:525px) {
    .porcentaje {
        font-size: 20px;
    }
}

@media screen and (max-width:750px) {
    .form-crear-user form {
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    .form-crear-user form .logform {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width:630px) {
    .nuestro-equipo .equipo .persona-equipo {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .nuestro-equipo .equipo .persona-equipo .foto {
        width: 100%;
        max-width: 275px;
    }
}

@media(max-width:911px) {
    .text ul {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
    .text ul li {
        margin-top: 20px;
    }
    .text h2 {
        text-align: center;
    }
}

@media screen and (max-width:800px) {
    .dashboard {
        display: flex;
        flex-flow: column wrap;
    }
    .personal {
        width: 100%;
    }
    .campana {
        width: 100%;
    }
    .agregar-puntos {
        width: 100%;
        order: 2;
    }
    .sucursales {
        width: 100%;
    }
}

@media (max-width:770px) {
    nav ul li a {
        font-size: 1.2rem;
    }
    .logo {
        width: 100px;
    }
}

@media (max-width:670px) {
    header {
        flex-flow: column wrap;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    nav ul {
        text-align: center;
    }
    nav ul li a {
        font-size: 1.4rem;
    }
    .logo {
        margin: 10px auto;
        margin-bottom: 25px;
    }
}

@media (max-width:500px) {
    nav ul li a {
        font-size: 1rem;
    }
    .principal .anuncio img {
        display: none;
    }
    .formulario-cajero form .inpts {
        width: 100%;
        margin: 0 auto;
    }
    .form-cajero h2 {
        font-size: 2.8rem;
    }
    .formulario-cajero form input[type="submit"] {
        width: 100%;
        margin: 30px auto;
    }
}

@media(max-width:400px) {
    nav ul li a {
        font-size: 0.8rem;
    }
}

@media(max-width:350px) {
    .servicios .nservicios .servicio .texto {
        font-size: 1rem;
        max-height: 345px;
        overflow: hidden;
    }
}*/