/* TODO: font-family: "Open Sans", sans-serif; */
html {
    scroll-behavior: smooth;
}

/* Ocultar la barra ayuda luego con las animaciones */
body::-webkit-scrollbar {
    display: none;
}

body {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}
/* */

.Content {
    margin-top: 10vw;
}

body > footer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items:center;
    background: rgb(0, 99, 181);
    background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

body > footer > a > img {
    width: 7vw;
    height: 15vh;
    object-fit: contain;
    margin: 2.5vh 0vw 2.5vh -10vw;
    position: absolute;
    transform: translate(-18vw, -9.8vh);
}

body > footer > img {
    width: 6vw;
    height: 8vh;
    object-fit: contain;
    margin: 2.5vh 1vw 2.5vh 0vw;  
    position: absolute;
    transform: translate(-32vw, 1.5vh); 
}

body > footer > b {
    position: absolute;
    transform: translate(-32.5vw, -4vh);
    font-size: .6vw;
    color: white;
}


.info-contacto-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "correo"
    "tel1"
    "tel2";
    padding-right: 5vw;
}

.correo { grid-area: correo; }

.tel1 { grid-area: tel1; }

.tel2 { grid-area: tel2; }

.icoFooter {
    width: 1.7vw;
    height: 3vh;
    object-fit: contain;
    margin: 0.5vh 1vw 0.5vh 2vw;
}

.textFooter,
.textFooter:visited {
    text-decoration: none;
    color: white;
}

.textFooter:hover,
.textFooter:active,
.textFooter:focus {
    text-decoration: none;
    color: white;
}

.dirFooter > img {
    filter: brightness(0) invert(1);
    width: 2vw;
    height: 3.5vh;
    object-fit: contain;
    margin: 0.5vh 1vw 0.5vh 2vw;
}

.dirFooter > a {
    text-decoration: none;
    color: white;
}

.dirFooter:hover > a {
    text-decoration: none;
    color: white;
}

.icoMsj {
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "wsp wcht";
    width: min-content;
  }
  
  .wsp { grid-area: wsp; }
  
  .wcht { grid-area: wcht; }

  .wsp > img {
    width: 5.6vw;
    height: 10vh;
    object-fit: contain;
    margin: 2.5vh 0vw 2.5vh 5vw;
    position: absolute;
    transform: translate(6vw, -8vh);
  }
  
  .wcht > img {
    width: 5.6vw;
    height: 10vh;
    object-fit: contain;
    margin: 2.5vh 0vw 2.5vh 0vw;
    position: absolute;
    transform: translate(17.5vw, -8vh);
  }

  .float {
      position: fixed;
      width: 16vw;
      height: 4vh;
      bottom: 25vh;
      right: 8vw;
      background-color: white;
      color: black;
      border-radius: 5vw;
      text-align: center;
      font-size: 1vw;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
      font-size: 1vw;
      text-decoration: none;
  }

  .float > a:hover {
      text-decoration: none;
      color: black;
  }

  .my-float {
    position: absolute;
    transform: translate(1vw, -4.1vh);
    padding-top: 1.5vh;
    width: 5.5vw;
    height: 11vh;
    border-radius: 4vw;
    font-size: 4vw;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    background-color: #25d366;
    color: white;
  }



/*MEDIA QUERY*/

@media (max-width: 961px) {
    
    body > footer {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items:center;
        background: rgb(0, 99, 181);
        background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
    }
    
    body > footer > a > img {
        width: 20vw;
        height: 60vh;
        object-fit: contain;
        margin: 0vh 0vw 2.5vh -10vw;
        position: absolute;
        transform: translate(-16vw, -48vh);
    }
    
    body > footer > img {
        width: 15vw;
        height: 45vh;
        object-fit: contain;
        margin: 0vh 1vw 2.5vh 0vw;  
        position: absolute;
        transform: translate(13vw, -17vh); 
    }
    
    body > footer > b {
        position: absolute;
        transform: translate(12.9vw, -22.5vh);
        font-size: 2.5vw;
        color: white;
    }
    
    
    .info-contacto-footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "correo"
        "tel1"
        "tel2";
        padding-right: 0vw;
        font-size: 3vw;
        position: absolute;
        transform: translate(-9vw, -3vh);
    }
    
    .correo { 
        grid-area: correo; 
    }
    
    .tel1 { grid-area: tel1; }
    
    .tel2 { grid-area: tel2; }
    
    .icoFooter {
        width: 3vw;
        height: 6vh;
        object-fit: contain;
        margin: 0vh 1vw 0vh 2vw;
    }
    
    .textFooter,
    .textFooter:visited {
        text-decoration: none;
        color: white;
    }
    
    .textFooter:hover,
    .textFooter:active,
    .textFooter:focus {
        text-decoration: none;
        color: white;
    }
    
    .dirFooter {
        font-size: 3vw;
        position: absolute;
        transform: translate(0vw, 10vh);
    }
    
    .dirFooter > img {
        filter: brightness(0) invert(1);
        width: 3vw;
        height: 6vh;
        object-fit: contain;
        position: absolute;
        transform: translate(-7vw, -2vh);;
        margin: 0vh 1vw 1vh 2vw;
    }
    
    .dirFooter > a {
        text-decoration: none;
        color: white;
    }
    
    .dirFooter:hover > a {
        text-decoration: none;
        color: white;
    }
    
    .icoMsj {
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "wsp wcht";
        width: min-content;
      }
      
      .wsp { grid-area: wsp; }
      
      .wcht { grid-area: wcht; }
    
      .wsp > img {
        width: 10vw;
        height: 20vh;
        object-fit:contain;
        position: absolute;
        transform: translate(-15vw, 15vh);
        height: 5vh;
      }
      
      .wcht > img {
        width: 10vw;
        height: 20vh;
        object-fit: contain;
        position: absolute;
        transform: translate(0vw, 15vh);
        height: 5vh;
      }
        
}

