/* TODO: font-family: "Open Sans", sans-serif; */
html {
    scroll-behavior: smooth;
}

/* Ocultar la barra ayuda luego con las animaciones */
body::-webkit-scrollbar {
    display: none;
}

body {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}
/* */

.Content {
    margin-top: 10vw;
}

.TituloSeccion {
    text-align: center;
    font-size: 1.65vw;
    color: var(--azul-nav);
    font-weight: 600;
    text-decoration: none;
}

.TituloSeccion:hover {
    color: var(--azul-titulos);
    font-size: 1.85vw;
    font-weight: 650;
    text-decoration: none;
}

/*MEDIA QUERY*/

/*@media screen and (max-width:1040px) {
    .nuestro-equipo .titulo-seccion {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:900px) {
    .servicios .nservicios {
        display: flex;
        flex-flow: column wrap;
    }
    .servicios .nservicios .servicio {
        width: 80%;
        height: 300px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 400px;
    }
}

@media screen and (max-width:555px) {
    .servicios .nservicios .servicio {
        height: 500px;
    }
}

@media screen and (max-width:800px) {
    .tarjetas-promo {
        display: flex;
        flex-flow: column wrap;
    }
    .tarjeta-promo {
        width: 80%;
    }
}

@media screen and (max-width:525px) {
    .porcentaje {
        font-size: 20px;
    }
}

@media screen and (max-width:750px) {
    .form-crear-user form {
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
    }
    .form-crear-user form .logform {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width:630px) {
    .nuestro-equipo .equipo .persona-equipo {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .nuestro-equipo .equipo .persona-equipo .foto {
        width: 100%;
        max-width: 275px;
    }
}

@media(max-width:911px) {
    .text ul {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
    .text ul li {
        margin-top: 20px;
    }
    .text h2 {
        text-align: center;
    }
}

@media screen and (max-width:800px) {
    .dashboard {
        display: flex;
        flex-flow: column wrap;
    }
    .personal {
        width: 100%;
    }
    .campana {
        width: 100%;
    }
    .agregar-puntos {
        width: 100%;
        order: 2;
    }
    .sucursales {
        width: 100%;
    }
}

@media (max-width:770px) {
    nav ul li a {
        font-size: 1.2rem;
    }
    .logo {
        width: 100px;
    }
}

@media (max-width:670px) {
    header {
        flex-flow: column wrap;
    }
    nav {
        margin: 0 auto;
        width: 100%;
    }
    nav ul {
        text-align: center;
    }
    nav ul li a {
        font-size: 1.4rem;
    }
    .logo {
        margin: 10px auto;
        margin-bottom: 25px;
    }
}

@media (max-width:500px) {
    nav ul li a {
        font-size: 1rem;
    }
    .principal .anuncio img {
        display: none;
    }
    .formulario-cajero form .inpts {
        width: 100%;
        margin: 0 auto;
    }
    .form-cajero h2 {
        font-size: 2.8rem;
    }
    .formulario-cajero form input[type="submit"] {
        width: 100%;
        margin: 30px auto;
    }
}

@media(max-width:400px) {
    nav ul li a {
        font-size: 0.8rem;
    }
}

@media(max-width:350px) {
    .servicios .nservicios .servicio .texto {
        font-size: 1rem;
        max-height: 345px;
        overflow: hidden;
    }
}*/