/* Altural del nav es 15vh
3.75 para los contactos e idiomas y 
11.25 para los links de las secciones*/
.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.35fr repeat(3, 1fr);
    grid-template-rows: 3.75fr 11.25fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma"
        "Inicio Certificaciones Productos Filler Acerca Multimedia Contacto";
    height: 15vh;
    max-height: 15vh;
    padding: 0%;
    background-color: var(--blanco-nav);
    transition: var(--transition-time);
    z-index: 899;
}

.TituloSeccion {
    color: var(--azul-nav);
}

.TituloSeccion:hover {
    color: var(--azul-titulos);
}

.Inicio {
    grid-area: Inicio;
    text-align: center;
}

.Certificaciones {
    grid-area: Certificaciones;
    text-align: center;
}

.Productos {
    grid-area: Productos;
    text-align: center;
}

.Acerca {
    grid-area: Acerca;
    text-align: center;
}

.Multimedia {
    grid-area: Multimedia;
    text-align: center;
}

.Contacto {
    grid-area: Contacto;
    text-align: center;
}

.DatosEIdioma {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosContacto Idiomas";
    grid-area: DatosEIdioma;
    background-color: var(--azul-nav);
    text-decoration: none;
    padding-left: 0.5vw;
    font-size: 1.25vh;
    height: 100%;
    transition: var(--transition-time);
    align-items: center;
}

.linksCEI {
    color: var(--blanco-nav);
    text-decoration: none;
}

.linksCEI:hover {
    text-decoration: none;
}

.DatosContacto {
    grid-area: DatosContacto;
    text-align: left;
    padding-left: 1vw;
    text-decoration: none;
}

.DatosContacto a {
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.DatosContacto img {
    max-height: 1.5vh;
    margin: auto;
    padding-bottom: 0.1vw;
}

.Idiomas {
    grid-area: Idiomas;
    text-align: right;
    text-decoration: none;
}

#logo {
    position: fixed;
    top: 3.75vh;
    left: calc(50vw - ((var(--LinksSeccionesHeight) + 5.5vh)/2));
    margin: auto;
    height: calc(var(--LinksSeccionesHeight) + 5.5vh);
    z-index: 900;
    transition: var(--transition-time);
}

body > footer {
    top: 270vh;
}

/* Para contener el carrousel y que se elimine el espacio en blanco entre
el carrousel y el navbar */
#carouselExampleInterval {
    position: absolute;
    top: 15vh;
    left: 0vw;
    width: 100%;
    min-width: 100%;
    max-height: 85vh;
}

/* Para estandarizar el tamaño de las imagenes */
#carouselExampleInterval img {
    width: 100vw;
    min-width: 100vw;
    height: 85vh;
    object-fit: cover;
    object-position: left;
}

.carousel-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 42px;
    margin: 0 0 6vh 0;
}

#carouselExampleInterval>div.carousel-indicators>button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

#carouselExampleInterval>div.carousel-indicators>button.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-caption {
    background: var(--azul-nav);
    border-radius: 5vw;
}

#carouselExampleInterval>div.carousel-inner>picture,
#carouselExampleInterval>div.carousel-inner>picture>.Franja {
    position: relative;
    width: 100vw;
    height: 5.6vh;
    top: 40vh;
    z-index: 898;
    object-fit: cover;
}

.productosSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 3.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "tituloSubseccion"
        "dataProductos";
    position: absolute;
    top: 100vh;
    left: 0vw;
    width: 100%;
    min-width: 100%;
    min-height: 90vh;
}

.tituloSubseccion {
    display: flex;
    grid-area: tituloSubseccion;
    align-items: flex-end;
}

.tituloProductos {
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.tituloProductos b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.dataProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: dataProductos;
    width: 100vw;
    height: 100%;
}

.cartaProducto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "fotoProducto"
        "siglasProducto";
    width: 30vw;
    margin: 0vw 1.25vw 0vw 1.25vw;
    height: min-content;
    justify-items: center;
}

.fotoProducto {
    grid-area: fotoProducto;
    min-height: 23vw;
    max-height: 23vw;
    min-width: 25vw;
    max-width: 25vw;
    border-radius: 16px;
    box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 20%);
}

.fotoProducto img {
    width: 100%;
    height: 23vw;
    min-width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.bVM {
    position: relative;
    top: -2vw;
    left: 8vw;
    width: 9vw;
    height: min-content;
    text-align: center;
    font-size: calc(var(--sub-title-font-size) * 0.7);
    border-radius: 20px;
    box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 30%);
}

.bVM,
.bVM:active,
.bVM:visited,
.bVM:focus {
    text-decoration: none;
    color: var(--azul-nav);
    background-color: var(--blanco-nav);
}

.bVM:hover {
    text-decoration: none;
    background-color: var(--amarillo-comp);
}

.sizesFreezing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "sizesProducto freezingProducto";
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: -23vw;
    width: 100%;
    height: 23vw;
    max-height: 23vw;
    border-radius: 16px;
}

.sizesFreezing p {
    text-align: center;
    font-size: 0.8vw;
    color: var(--blanco-nav);
    opacity: 1;
}

.sizesFreezing b {
    display: none;
    color: var(--azul-titulos);
}

.sizesProducto {
    grid-area: sizesProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.freezingProducto {
    grid-area: freezingProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img.ProdIcon {
    width: 4vw;
    height: 4vw;
    min-width: 6vw;
    object-fit: contain;
}

.fotoProducto:hover .sizesFreezing {
    visibility: visible;
    background-color: var(--azul-nav);
    opacity: 0.8;
}

.siglasProducto {
    grid-area: siglasProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.siglasProductoP {
    width: 100%;
    color: var(--azul-titulos);
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: 1vw 0 0 0;
}

.certificacionesSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "tituloSubseccionCerts"
        "fotosCerts";
    position: relative;
    top: 175vh;
    left: 0vw;
    width: 100vw;
    min-width: 100vw;
    min-height: 45vh;
    background: rgb(96,109,120);
    background: linear-gradient(180deg, rgba(96,109,120,0.3) 5%, rgba(96,109,120,0.2) 16%, rgba(96,109,120,0.1) 27%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
}

.tituloSubseccionCerts {
    display: flex;
    grid-area: tituloSubseccionCerts;
    align-items: flex-end;
}

div.certificacionesSubsection>picture {
    transform: scaleY(-1) scaleX(-1);
    width: 100vw;
    height: 5.6vh;
    position: absolute;
    top: -1px;
    z-index: 897;
    object-fit: cover;
}

.tituloCerts {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100vw;
    margin: 0vw;
}

.fotosCerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-area: fotosCerts;
    max-width: 100vw;
}

.fotosCerts img {
    width: 12vw;
    height: 12vw;
    min-width: 12vw;
    object-fit: contain;
    margin: 2.5vw 3.5vw 2.5vw 3.5vw;
    transition: transform .15s;
}

.fotosCerts img:hover {
    transform: scale(1.1);
}

.footer {
    background: var(--azul-nav);
}

@media screen and (max-width:961px) {

    /* Para contener el carrousel y que se elimine el espacio en blanco entre
    el carrousel y el navbar */
    #carouselExampleInterval {
        position: absolute;
        top: 15vh;
        left: 0vw;
        width: 100%;
        min-width: 100%;
        max-height: 100vw;
    }

    /* Para estandarizar el tamaño de las imagenes */
    #carouselExampleInterval img {
        width: 100vw;
        min-width: 100vw;
        height: 100vw;
        object-fit: cover;
        object-position: left;
    }

    .carousel-indicators {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 40px;
        margin: 0 0 7.4vw 0;
    }

    #carouselExampleInterval>div.carousel-indicators>button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    #carouselExampleInterval>div.carousel-indicators>button.active {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    #carouselExampleInterval>div.carousel-inner>picture,
    #carouselExampleInterval>div.carousel-inner>picture>.Franja {
        position: relative;
        width: 100vw;
        height: 6.4vw;
        top: 46.9vw;
        z-index: 898;
        object-fit: cover;
    }

    .fotoProducto img {
        width: 90vw;
        height: 30vw;
        min-width: 100%;
        border-radius: 16px;
        object-fit: cover;
    }

    .fotoProducto {
        grid-area: fotoProducto;
        min-height: 30vw;
        max-height: 30vw;
        min-width: 90vw;
        max-width: 90vw;
        border-radius: 16px;
        box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 20%);
    }

    .sizesFreezing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "sizesProducto freezingProducto";
        visibility: hidden;
        opacity: 0;
        position: relative;
        top: -30vw;
        width: 90vw;
        height: 30vw;
        max-height: 30vw;
        border-radius: 16px;
    }

}