body {
    margin: 0;
}

.contactosEidioma-nav {
    background: rgb(0, 99, 181);
    background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

.contacto-nav>a {
    color: white;
}

.idioma-nav>a {
    color: white;
}

.idioma-nav>a:hover {
    color: white;
}

.opcionMenu {
    color: var(--azul-nav);
}

.opcionMenu:hover {
    color: var(--azul-titulos);
    font-weight: 600;
}

body>footer {
    top: 265vh;
}


/* Para contener el carrousel y que se elimine el espacio en blanco entre
el carrousel y el navbar */

#carouselExampleInterval {
    position: absolute;
    top: var(--height-navbar);
    left: 0vw;
    width: 100%;
    min-width: 100%;
    max-height: 85vh;
}


/* Para estandarizar el tamaño de las imagenes */

#carouselExampleInterval img {
    width: 100vw;
    min-width: 100vw;
    height: 53vh;
    object-fit: cover;
    object-position: left;
}

.carousel-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 42px;
    margin: 0 0 6vh 0;
}

#carouselExampleInterval>div.carousel-indicators>button {
    width: 0.6vw;
    height: .6vw;
    border-radius: 50%;
    margin: 2.5vw 0.2vw 0 0.2vw;
    background-color: #909090;
    position: relative;
    top: 2vw;
}

#carouselExampleInterval>div.carousel-inner>picture,
#carouselExampleInterval>div.carousel-inner>picture>.Franja {
    position: relative;
    width: 100vw;
    height: 5.6vh;
    top: 25vh;
    z-index: 400;
    object-fit: cover;
}

.productosSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 5fr 4fr;
    gap: 0px 0px;
    grid-template-areas: "tituloSubseccion" "dataProductos" "marcasSubsubsection";
    position: absolute;
    top: 75vh;
    left: 0vw;
    width: 100vw;
    min-width: 100vw;
    min-height: 90vh;
    margin-top: 3vw;
}

.tituloSubseccion {
    display: flex;
    grid-area: tituloSubseccion;
    align-items: flex-end;
}

.tituloProductos {
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.tituloProductos b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.dataProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: dataProductos;
    width: 100vw;
    height: 100%;
}

.dataProductos>a {
    text-decoration: none;
}

.cartaProducto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "fotoProducto" "siglasProducto";
    width: 20vw;
    margin: 0 1.25vw 0vw 1.25vw;
    height: min-content;
    justify-items: center;
}

.fotoProducto {
    grid-area: fotoProducto;
    min-height: 15vw;
    max-height: 15vw;
    min-width: 15vw;
    max-width: 15vw;
    border-radius: 16px;
    box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 20%);
}

.fotoProducto img {
    width: 15vw;
    height: 15vw;
    min-width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.bVM {
    position: relative;
    top: -1vw;
    left: 20vw;
    width: 2vw;
    height: min-content;
    text-align: center;
    font-size: calc(var(--sub-title-font-size) * 0.7);
    border-radius: 50%;
    box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 30%);
}

.bVM,
.bVM:active,
.bVM:visited,
.bVM:focus {
    text-decoration: none;
    color: var(--azul-nav);
    background-color: var(--blanco-nav);
}

.bVM>a:hover {
    font-weight: 800;
}

a.bVM:hover {
    text-decoration: none;
    background-color: var(--amarillo-btn);
    font-weight: 700;
}

.sizesFreezing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "sizesProducto freezingProducto";
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: -15vw;
    width: 100%;
    height: 15vw;
    max-height: 15vw;
    border-radius: 16px;
}

.sizesFreezing p {
    text-align: center;
    font-size: 0.8vw;
    color: var(--blanco-nav);
    opacity: 1;
}

.sizesFreezing b {
    display: none;
    color: var(--azul-titulos);
}

.sizesProducto {
    grid-area: sizesProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.freezingProducto {
    grid-area: freezingProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img.ProdIcon {
    width: 2vw;
    height: 2vw;
    min-width: 2vw;
    margin-top: .5vw;
    object-fit: contain;
}

.fotoProducto:hover .sizesFreezing {
    visibility: visible;
    background-color: var(--azul-nav);
    opacity: 0.8;
}

.siglasProducto {
    grid-area: siglasProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.siglasProductoP {
    width: 100%;
    color: var(--azul-titulos);
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: .5vw 0 0 0;
}

.marcasSubsybsection {
    grid-area: marcasSubsubsection;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr .75fr;
    gap: 0px 0px;
    grid-template-areas: "tituloMarcas" "flexMarcas";
    width: 100vw;
    height: auto;
}

.tituloMarcas {
    grid-area: tituloMarcas;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 8vw;
}

.tituloMarcas>p {
    color: var(--azul-titulos);
    font-size: calc(0.8 * var(--sub-title-font-size));
    font-weight: 650;
}

.flexMarcas {
    grid-area: flexMarcas;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.flexMarcas img {
    width: 12vw;
    height: 25vh;
    object-fit: contain;
    margin: 0 1vw 0 1vw;
    cursor: pointer;
}

.flexMarcas img:hover {
    transform: scale(1.1);
}

.certificacionesSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    gap: 0px 0px;
    grid-template-areas: "tituloSubseccionCerts" "fotosCerts";
    position: relative;
    top: 180vh;
    left: 0vw;
    width: 100vw;
    min-width: 100vw;
    min-height: 45vh;
    background: rgb(96, 109, 120);
    background: linear-gradient(180deg, rgba(96, 109, 120, 0.3) 3%, rgba(96, 109, 120, 0.1) 16%, rgba(96, 109, 120, 0) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
}

.tituloSubseccionCerts {
    display: flex;
    grid-area: tituloSubseccionCerts;
    align-items: flex-end;
    margin-top: 6vw;
}

div.certificacionesSubsection>picture>.Franja {
    transform: scaleY(-1) scaleX(-1);
    width: 100vw;
    height: 5.6vh;
    position: absolute;
    top: -1px;
    z-index: 400;
    object-fit: cover;
}

.tituloCerts {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100vw;
    margin: 0vw;
}

.fotosCerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-area: fotosCerts;
    max-width: 100vw;
}

.fotosCerts img {
    width: 8vw;
    height: 8vw;
    min-width: 8vw;
    object-fit: contain;
    margin: 2.5vw 3.5vw 10vw 3.5vw;
    transition: transform .15s;
}

.fotosCerts img:hover {
    transform: scale(1.1);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  ## Try 1920x1080
*/

@media (min-width: 1281px) {
    /* CSS */
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    ## Try 1280x1024 / 1280x720 / 1280x850
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024 
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024  pero horizontal
  */

@media (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ## Try 540x720
  */

@media (min-width: 481px) and (max-width: 812px) {


    
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ## INTENTAR CON CELULARES DE BAJA Y ALTA GAMA EN CHROME
  */

@media (min-width: 320px) and (max-width: 480px) {

    /* Para contener el carrousel y que se elimine el espacio en blanco entre
    el carrousel y el navbar */

    #carouselExampleInterval {
        position: absolute;
        top: calc(var(--height-navbar)*.5);
    }
    body>footer {
        top: 390vh;
    }
    .productosSubsection {
        margin-top: 0vh;
    }
    .tituloSubseccion {
        height: 0vh;
    }
    .tituloProductos b {
        font-size: 2vh;
    }
    .tituloProductos {
        font-size: 1.5vh;
    }
    .dataProductos {
        height: 50vh;
    }
    .cartaProducto {
        width: 25vh;
        margin: 2vh 1.25vw 0vh 1.25vw;
    }
    .fotoProducto {
        min-width: 15vh;
        max-width: 15vh;
        min-height: 15vh;
        max-height: 15vh;
    }
    .fotoProducto img {
        width: 15vh;
        height: 15vh;
    }
    .sizesFreezing {
        top: -15vh;
        height: 15vh;
        max-height: 15vh;
    }
    .sizesFreezing p {
        font-size: .8vh;
    }
    img.ProdIcon {
        height: 2vh;
        width: 2vh;
    }
    .siglasProductoP {
        font-size: 1.5vh;
    }
    .tituloMarcas {
        height: 5vh;
        margin-top: -40vh;
    }
    .tituloMarcas p {
        font-size: 2vh;
    }
    .flexMarcas img {
        width: 30vh;
        height: 20vh;
    }
    .certificacionesSubsection {
        top: 280vh;
        height: 100vh;
    }
    .tituloSubseccionCerts {
        margin-top: 0;
        height: 20vh;
    }
    .tituloCerts {
        font-size: 2vh;
    }
    .fotosCerts img {
        width: 30vh;
        height: 10vh;
    }
    #cert2 {
        height: 15vh;
    }
    #cert3, #cert4 {
        height: 15vh;
    }

}