body {
    margin: 0;
}

.nav-container {
    background-color: white;
}

.contactosEidioma-nav {
    background: rgb(0, 99, 181);
    background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

.contacto-nav>a {
    color: white;
}

.idioma-nav>a {
    color: white;
}

.idioma-nav>a:hover {
    color: white;
}

.opcionMenu {
    color: var(--azul-nav);
}

.opcionMenu:hover {
    color: var(--azul-titulos);
    font-weight: 600;
}

body>footer {
    display: block;
    margin: 2.5vh 0 0 0;
}

.TituloVideo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8vh 0 2vh 0;
}

.TituloVideo p {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 3vh;
}

.VideoBioSeg {
    width: 100vw;
}

.VideoBioSeg video {
    width: 100vw;
}

.Archivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15vh 0 5vh 0;
    height: calc(1.1 * 0.7072 * 15vw + 2.5vh);
}

.fileCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .01fr;
    gap: 0px 0px;
    grid-template-areas: "thumbArch" "tituloArch";
    width: 20vw;
    padding: 0 2.5vw 0 2.5vw;
    height: calc((1.1 * 0.7072 * 15vw) + 2.5vh);
}

.tituloArch {
    grid-area: tituloArch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tituloArch p {
    color: var(--azul-titulos);
    font-size: calc(var(--sub-title-font-size) * 0.65);
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 0vh 0 0vh 0;
}

.thumbArch {
    grid-area: thumbArch;
    height: calc(0.7072 * 15vw);
}

.thumbArch img {
    width: 15vw;
    height: calc(0.7072 * 15vw);
    object-fit: cover;
}

.thumbArch:hover .BDownWrapper {
    display: flex;
}

.BDownWrapper {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    top: calc(-0.7072 * 15vw);
    left: 0;
    width: 15vw;
    height: calc(0.7072 * 15vw);
    background-color: var(--azul-nav);
    opacity: 0.9;
}

.BDown {
    text-align: center;
    font-size: calc(var(--sub-title-font-size) * 0.6);
    background-color: var(--amarillo-btn);
    text-decoration: none;
    color: var(--azul-titulos);
    border-radius: 15px;
    width: calc(15vw * 0.6969);
    height: calc(0.7072 * 0.1555 * 15vw);
    font-weight: 600;
    opacity: 2;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  ## Try 1920x1080
*/

@media (min-width: 1281px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024 
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .TituloVideo p {
        font-size: 4vw;
    }
    .tituloArch p {
        font-size: 2vw;
    }
    body>footer {
        margin: 10vh 0 0 0;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ## Try 1024x1366 / 768x1024  pero horizontal
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .TituloVideo p {
        margin-top: 10vh;
        font-size: 2.5vw;
    }
    .tituloArch p {
        font-size: 1.5vw;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ## Try 540x720
  */

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ## INTENTAR CON CELULARES DE BAJA Y ALTA GAMA EN CHROME
  */

@media (min-width: 320px) and (max-width: 480px) {

    .TituloVideo p {
        font-size: 2vh;
    }
    video {
        height: auto;
        width: 100%;
    }
    .VideoBioSeg {
        height: auto;
        width: 100%;
    }
    .Archivos {
        margin: 5vh 0vh 60vh 0vh;
    }
    .fileCard {
        width: 30vh;
        height: 20vh;
        margin: 2vh 0 5vh 0;
    }
    .thumbArch {
        height: 20vh;
    }
    .thumbArch img {
        width: 30vh;
        height: 20vh;
    }
    .tituloArch p {
        font-size: 1.5vh;
        margin-top: 2vh;
    }
    .BDownWrapper {
        width: 30vh;
        height: 20vh;
        top: -20vh;
    }
    .BDown {
        font-size: 1.5vh;
        width: 15vh;
        height: 2vh;
    }

}