body {
  margin: 0;
}

.nav-container {
  background-color: white;
}

.contactosEidioma-nav {
  background: rgb(0, 99, 181);
  background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

.contacto-nav>a {
  color: white;
}

.idioma-nav>a {
  color: white;
}

.idioma-nav>a:hover {
  color: white;
}

.opcionMenu {
  color: var(--azul-nav);
}

.opcionMenu:hover {
  color: var(--azul-titulos);
  font-weight: 600;
}

body>footer {
  display: block;
  margin: 2.5vh 0 0 0;
}

.TituloVideo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.TituloVideo p {
  color: var(--azul-titulos);
  font-size: var(--sub-title-font-size);
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: .5vw;
}

.VideoBioSeg {
  width: 100vw;
  height: min-content;
}

.VideoBioSeg video {
  width: 100vw;
  margin-top: -6vw;
}

.Archivos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 5vh 0;
}

.fileCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .01fr;
  gap: 0px 0px;
  grid-template-areas:
    "thumbArch"
    "tituloArch";

}

.tituloArch {
  grid-area: tituloArch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tituloArch p {
  color: var(--azul-titulos);
  font-size: var(--sub-title-font-size);
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0vh 0 0vh 0;
}

.thumbArch {
  grid-area: thumbArch;
}

.thumbArch img:hover {
  visibility: visible;
  background-color: var(--azul-nav);
  opacity: 0.8;
}


.thumbArch img {
  width: 15vw;
  height: 15vw;
  object-fit: contain;
  margin: 2.5vh 5vw 2.5vh 5vw;
}

.dwnldBtn {
  grid-area: dwnldBtn;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btndwn {
  position: relative;
  display: none;
  top: -10vw;
  left: 8vw;
  width: 9vw;
  height: min-content;
  text-align: center;
  font-size: calc(var(--sub-title-font-size) * 0.7);
  border-radius: 1vw;
  background-color: var(--blanco-nav);
}