.barraPrin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  background: rgb(0, 99, 181);
  background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
  position: absolute;
  top: 0;
  height: 5vh;
  width: 100vw;
}

.contact {
  grid-area: 1 / 1 / 2 / 2;
  text-decoration: none;
  padding-left: 0.5vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: left;
}

.contact img {
  max-height: 2vh;
  margin: 0 0.5vw 0 0.5vw;
  padding: 0.2vh 0 0.2vh 0;
}

.idioma {
  grid-area: 1 / 2 / 2 / 3;
  padding-right: 1vw;
  display: none;
  align-items: center;
  justify-content: right;
}

.idioma>a {
  padding-right: 1vw;
}

.linksCEI {
  color: var(--blanco-nav);
  text-decoration: none;
}

.linksCEI:hover {
  text-decoration: none;
  color: white;
  transition: .1s;
  transform: scale(1.1);
}

.fotosPrin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "camaron pescado";
  position: absolute;
  top: 5vh;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.camaron {
  grid-area: camaron;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.camaron>a>img {
  width: 20vw;
  height: 35vh;
  object-fit: contain;
}

.camaron>a:hover {
  transition: .1s;
  transform: scale(1.1);
}

.pescado {
  grid-area: pescado;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.pescado>a>img {
  width: 20vw;
  height: 35vh;
  object-fit: contain;
}

.pescado>a:hover {
  transition: .1s;
  transform: scale(1.1);
}