.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.35fr repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma"
        "Inicio Certificaciones Productos Filler Acerca Multimedia Contacto";
    height: 10vw;
    max-height: 10vw;
    padding: 0%;
    background-color: var(--azul-nav);
    transition: 0.1s;
    z-index: 899;
}

.TituloSeccion {
    text-align: center;
    font-size: 1.75vw;
    color: var(--blanco-nav);
    font-weight: bold;
    text-decoration: none;
}

.TituloSeccion:hover {
    color: var(--blanco-nav);
    font-size: 1.85vw;
    text-decoration: underline;
}

.Inicio {
    grid-area: Inicio;
    text-align: center;
}

.Certificaciones {
    grid-area: Certificaciones;
    text-align: center;
}

.Productos {
    grid-area: Productos;
    text-align: center;
}

.Acerca {
    grid-area: Acerca;
    text-align: center;
}

.Multimedia {
    grid-area: Multimedia;
    text-align: center;
}

.Contacto {
    grid-area: Contacto;
    text-align: center;
}

.DatosEIdioma {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosContacto Idiomas";
    grid-area: DatosEIdioma;
    background-color: var(--blanco-nav);
    text-decoration: none;
    padding-left: 1vw;
    font-size: 0.9vw;
    padding: 0.6327vw 0vw 0.6327vw 0vw;
    max-height: 2.5vw;
    transition: 0.1s;
}

.linksCEI {
    color: var(--azul-titulos);
    text-decoration: none;
}

.linksCEI:hover {
    text-decoration: none;
}

.DatosContacto {
    grid-area: DatosContacto;
    text-align: left;
    padding-left: 1vw;
    text-decoration: none;
}

.DatosContacto a {
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.DatosContacto img {
    max-height: 1vw;
    margin: auto;
    padding-bottom: 0.12vw;
}

.Idiomas {
    grid-area: Idiomas;
    text-align: right;
    text-decoration: none;
}

#logo {
    position: fixed;
    top: 2.5vw;
    left: 43vw;
    margin: auto;
    float: center;
    max-height: 14vw;
    z-index: 900;
    transition: 0.1s;
}

.productosSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "tituloSubseccion"
        "dataProductos";
    position: absolute;
    top: 14vw;
    left: 0vw;
    width: 100%;
    min-width: 100%;
    min-height: 41.75vw;
}

.tituloSubseccion {
    display: flex;
    grid-area: tituloSubseccion;
    align-items: center;
}

.tituloProductos {
    grid-area: tituloProductos;
    color: var(--azul-titulos);
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.dataProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: dataProductos;
    max-width: 100vw;
    height: min-content;
}

.cartaProducto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "fotoProducto"
        "siglasProducto";
    max-width: 30vw;
    margin: 0vw 1.25vw 1.25vw 1.25vw;
    height: min-content;
}

.fotoProducto {
    grid-area: fotoProducto;
    min-height: 28vw;
    max-height: 28vw;
    min-width: 30vw;
    max-width: 30vw;
}

.fotoProducto img {
    width: 100%;
    height: 28vw;
    min-width: 100%;
    object-fit: cover;
}

.sizesFreezing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "sizesProducto freezingProducto";
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: -28vw;
    width: 100%;
    height: 28vw;
    text-align: center;
    font-size: 1.5vw;
}

.sizesFreezing b {
    color: var(--azul-titulos);
}

.sizesProducto {
    grid-area: sizesProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.freezingProducto {
    grid-area: freezingProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fotoProducto:hover .sizesFreezing {
    visibility: visible;
    background-color: var(--blanco-nav);
    opacity: 0.8;
}

.siglasProducto {
    grid-area: siglasProducto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.siglasProductoP {
    width: 100%;
    color: var(--azul-titulos);
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

.marcasSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "tituloMarcas"
        "flexMarcas";
    position: absolute;
    top: 55.75vw;
    width: 100%;
}

.tituloMarcas {
    grid-area: tituloMarcas;
    display: flex;
    align-items: center;
}

.tituloMarcas p{
    color: var(--azul-titulos);
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.flexMarcas {
    grid-area: flexMarcas;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgMarca {
    width: 18vw;
    height: 18vw;
    margin: 0.5vw 3.5vw 0.75vw 3.5vw;
}