/* Altural del nav es 15vh
3.75 para los contactos e idiomas y 
11.25 para los links de las secciones*/
.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.35fr repeat(3, 1fr);
    grid-template-rows: 3.75fr 11.25fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma DatosEIdioma"
        "Inicio Certificaciones Productos Filler Acerca Multimedia Contacto";
    height: 15vh;
    max-height: 15vh;
    padding: 0%;
    background-color: var(--azul-nav);
    transition: var(--transition-time);
    z-index: 899;
}

.TituloSeccion {
    text-align: center;
    font-size: 1.65vw;
    color: var(--blanco-nav);
    font-weight: bold;
    text-decoration: none;
}

.TituloSeccion:hover {
    color: var(--blanco-nav);
    font-size: 1.85vw;
    text-decoration: underline;
}

.Inicio {
    grid-area: Inicio;
    text-align: center;
}

.Certificaciones {
    grid-area: Certificaciones;
    text-align: center;
}

.Productos {
    grid-area: Productos;
    text-align: center;
}

.Acerca {
    grid-area: Acerca;
    text-align: center;
}

.Multimedia {
    grid-area: Multimedia;
    text-align: center;
}

.Contacto {
    grid-area: Contacto;
    text-align: center;
}

.DatosEIdioma {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "DatosContacto Idiomas";
    grid-area: DatosEIdioma;
    background-color: var(--blanco-nav);
    text-decoration: none;
    padding-left: 0.5vw;
    font-size: 1.25vh;
    height: 100%;
    transition: var(--transition-time);
    align-items: center;
}

.linksCEI {
    color: var(--azul-titulos);
    text-decoration: none;
}

.linksCEI:hover {
    text-decoration: none;
}

.DatosContacto {
    grid-area: DatosContacto;
    text-align: left;
    padding-left: 1vw;
    text-decoration: none;
}

.DatosContacto a {
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.DatosContacto img {
    max-height: 1.5vh;
    margin: auto;
    padding-bottom: 0.1vw;
}

.Idiomas {
    grid-area: Idiomas;
    text-align: right;
    text-decoration: none;
}

#logo {
    position: fixed;
    top: var(--CEIheight);
    left: calc(50vw - ((var(--LinksSeccionesHeight) + 5vh)/2));
    margin: auto;
    height: calc(var(--LinksSeccionesHeight) + 5vh);
    z-index: 900;
    transition: var(--transition-time);
}

.tituloProductos {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 15vh;
}

.textoTituloProductos {
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.textoTituloProductos b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.ProdDV {
    position: absolute;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
        "NomProd ."
        "FotosProd ProdData";
    width: 100vw;
    max-width: 80vw;
    text-align: center;
    /* Para los anchor */
    padding-top: 15vh;
    margin-top: -15vh;
}

.NomProd {
    grid-area: NomProd;
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.FotosProd {
    grid-area: FotosProd;
}

.FotosProd img {
    width: 10vw;
    height: 10vw/*calc(var(--height-prod-dv) * (1.75 / 2) - 10vh)*/;
    object-fit: cover;
    margin: 12vh 5vw 8vh 5vw;
    border-radius: 16px;
    box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 20%);
}

.ProdData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "TituloSizes TituloPack TituloFreezing"
        "ValuesSizes ValuesPack ValuesFreezing";
    grid-area: ProdData;
}

.TituloSizes {
    grid-area: TituloSizes;
}

.TituloPack {
    grid-area: TituloPack;
}

.TituloFreezing {
    grid-area: TituloFreezing;
}

.TituloTabla {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TituloTabla>img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
}

.TituloTabla b {
    color: var(--blanco-nav);
    background-color: var(--azul-titulos);
    padding: 1.5vh 2.5vw 1.5vh 2.5vw;
    font-size: calc(var(--sub-title-font-size) / 1.6);
    margin: 0%;
    border-radius: 16px;
}

.ValuesSizes {
    grid-area: ValuesSizes;
}

.ValuesPack {
    grid-area: ValuesPack;
}

.ValuesFreezing {
    grid-area: ValuesFreezing;
}

.ValueCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DataTabla {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco-nav);
    font-size: 0.8vw;
    font-weight: 600;
    margin: 0%;
    border-radius: 16px;
    width: calc((55vw / 3) / 1.6);
    height: 25vh;
}

.marcasSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "tituloMarcas"
        "flexMarcas";
    position: absolute;
    width: 100vw;
}

.tituloMarcas {
    grid-area: tituloMarcas;
    display: flex;
    align-items: center;
}

.tituloMarcas p {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.flexMarcas {
    grid-area: flexMarcas;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgMarca {
    width: 17vw;
    height: 17vw;
    margin: 0.5vw 4vw 0.75vw 4vw;
    border-radius: 16px;
    /* box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 5%); */
    transition: transform .15s;
}

.imgMarca:hover {
    transform: scale(1.1);
}
