body {
    margin: 0;
}

.nav-container {
    background-color: white;
}

.contactosEidioma-nav {
    background: rgb(0, 99, 181);
    background: linear-gradient(180deg, rgba(0, 99, 181, 1) 0%, rgba(0, 79, 157, 1) 50%, rgba(0, 55, 130, 1) 100%);
}

.contacto-nav>a {
    color: white;
}

.idioma-nav>a {
    color: white;
}

.idioma-nav>a:hover {
    color: white;
}

.opcionMenu {
    color: var(--azul-nav);
}

.opcionMenu:hover {
    color: var(--azul-titulos);
    font-weight: 600;
}

body>footer {
    top: 260vh;
}

.tituloProductos {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 15vh;
}

.textoTituloProductos {
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.textoTituloProductos b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    text-align: center;
    width: 100%;
    margin: 0vw;
}

.ProdDV {
    position: absolute;
    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-template-rows: 0.25fr 1.75fr;
    gap: 0px 0px;
    grid-template-areas:
        "NomProd ProdData"
        "FotosProd ProdData";
    width: 45vw;
    max-width: 55vw;
    height: calc(var(--height-prod-dv) + 15vh);
    max-height: calc(var(--height-prod-dv) + 15vh);
    text-align: center;
    /* Para los anchor */
    padding-top: 15vh;
    margin: -15vh 27.5vw 0vw 27.5vw;
}

.NomProd {
    grid-area: NomProd;
    color: var(--azul-titulos);
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.FotosProd {
    grid-area: FotosProd;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: calc(45vw * 0.4);
    height: calc(var(--height-prod-dv) * (1.75 / 2));
}

.FotosProd img {
    width: calc(45vw * 0.4 - 5vw);
    height: calc(var(--height-prod-dv) * (1.75 / 2) - 5vh);
    object-fit: cover;
    border-radius: 1.5vw;
    margin-bottom: 1.45vh;
    box-shadow: .5vw .5vw 2vw 0 rgb(0 0 0 / 20%);
}

.carruselProd>div.carousel-indicators>button {
    width: .6vw;
    height: .6vw;
    border-radius: 50%;
    position: relative;
    top: 2vw;
    background-color: var(--azul-nav);
}
.carruselProd>div.carousel-indicators>button.active {
    width: .7vw;
    height: .7vw;
    border-radius: 50%;
}

.ProdData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "TituloSizes TituloPack TituloFreezing"
        "ValuesSizes ValuesPack ValuesFreezing";
    grid-area: ProdData;
}

.TituloSizes {
    grid-area: TituloSizes;
}

.TituloPack {
    grid-area: TituloPack;
}

.TituloFreezing {
    grid-area: TituloFreezing;
}

.TituloTabla {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.TituloTabla>img {
    height: calc(var(--height-prod-dv) * 0.2);;
    object-fit: contain;
}

.ValuesSizes {
    grid-area: ValuesSizes;
}

.ValuesPack {
    grid-area: ValuesPack;
}

.ValuesFreezing {
    grid-area: ValuesFreezing;
}

.ValueCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DataTabla {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco-nav);
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 1vw;
    width: 8vw;
    height: calc(var(--height-prod-dv) * (1.75 / 2) - 5vh); /* Misma que la foto */
}

.marcasSubsection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tituloMarcas""flexMarcas";
    position: relative;
    width: 100vw;
    background: rgb(96, 109, 120);
    background: linear-gradient(180deg, rgba(96, 109, 120, 0.3) 3%, rgba(96, 109, 120, 0.1) 16%, rgba(96, 109, 120, 0) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
}

div.marcasSubsection>picture {
    transform: scaleY(-1) scaleX(-1);
    width: 100vw;
    height: 5.6vh;
    position: absolute;
    top: -1px;
    z-index: 200;
    object-fit: contain;
}

.tituloMarcas {
    grid-area: tituloMarcas;
    color: var(--gris-subtitulos);
    font-size: calc(var(--sub-title-font-size) * 0.75);
    text-align: center;
    width: 100%;
    margin: 16vh 0 0 0;
}

.tituloMarcas b {
    color: var(--azul-titulos);
    font-size: var(--sub-title-font-size);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.flexMarcas {
    grid-area: flexMarcas;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 0vh 25vw 0 25vw;
    min-height: min-content;
    height: min-content;
}

.imgMarca {
    width: 13vw;
    height: 13vw;
    margin: 0vh 1vw 0vh 1vw;
    border-radius: 0.9vw;
    /* box-shadow: 10px 10px 16px 0 rgb(0 0 0 / 5%); */
    transition: transform .15s;
}

.imgMarca:hover {
    transform: scale(1.1);
}

#myImg1,
#myImg2,
#myImg3,
#myImg4,
#myImg5,
#myImg6 {
    cursor: pointer;
    transition: 0.3s;
}



/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0, .5);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .5);
    /* Black w/ opacity */
}


/* Modal Content (image) */

img.modal-content {
    margin: auto;
    display: block;
    top: 1vw;
    width: 35vw;
    height: 35vw;
    background: none;
    border: none;
    box-shadow: none;
}

/*div.marcasSubsection>picture>.Franja {
    transform: scaleY(-1) scaleX(-2);
    width: 100vw;
    height: 5.6vh;
    position: absolute;
    top: -1vw;
    z-index: 400;
    object-fit: cover;
}*/


/* Add Animation */

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}