/* Colores: https://coolors.co/00315a-004279-005298 */

:root {
    --azul-nav: #0061B0;
    --azul-titulos: #004279;
    --gris-subtitulos: #86939E;
    --blanco-nav: #F7F7F7;
    --amarillo-comp: #FFE100;
    /*--amarillo-comp: #E6F760;*/
    --alt-segm-nav-compr: 41.75vw;
    --color-prod: #516482;
    --CEIheight: 5vh;
    --LinksSeccionesHeight: 11.25vh;
    --transition-time: 0.2s;
    --sub-title-font-size: 1.8vw;
    --height-prod-dv: 35vh;
    /* --height-prod-dv: calc(100vh - var(--LinksSeccionesHeight) - var(--CEIheight) - 5vh); */
    --azul-sizes: #66A1D3;
    --azul-pack: #3382C4;
    --azul-freezing: #0063B5;
    --barra-form: #84D2F6;
    --amarillo-btn: #FFE100;

    --height-navbar: 18vh;
}