/* Colores: https://coolors.co/00315a-004279-005298 */

:root {
    --azul-nav: #0061B0;
    --azul-titulos: #004279;
    --blanco-nav: #F7F7F7;
    --alt-segm-nav-compr: 41.75vw;
    --color-prod: #516482;
}